FlowsBackup/allFlows.html
[{"id":"6b2874d.462638c","type":"tab","label":"Flow 1"},{"id":"ddace311.df7b6","type":"tab","label":"Hello World"},{"id":"7b354ff7.50a86","type":"tab","label":"Beginner HTML"},{"id":"f16dad1f.1c803","type":"tab","label":"Interpreter"},{"id":"3e9aa070.49a09","type":"tab","label":"OK Watson"},{"id":"9c8aeb69.e71cf8","type":"tab","label":"Messenger webhook"},{"id":"82c61a44.0e9f98","type":"tab","label":"Watson TV"},{"id":"8f8f7ca0.29df","type":"twitter-credentials","z":"","screen_name":"@HiHuman3"},{"id":"e3c8c44c.e14318","type":"inject","z":"ddace311.df7b6","name":"Hello  W orld inject","topic":"","payload":"Hello, this is my first Node - RED application .","payloadType":"str","repeat":"","crontab":"","once":false,"x":136.5,"y":100,"wires":[["b895bba7.69abe8"]]},{"id":"1265c16f.7add2f","type":"debug","z":"ddace311.df7b6","name":"","active":true,"console":"false","complete":"translation","x":647.5,"y":241,"wires":[]},{"id":"4fd5c1fb.a0b71","type":"watson-translator","z":"ddace311.df7b6","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"es","password":"MurD0ch17!Sem3st3r1","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":296.5,"y":230,"wires":[["3c537501.9b99aa"]]},{"id":"fb70498a.ed87b8","type":"http in","z":"7b354ff7.50a86","name":"HTTP Hello World","url":"/hw","method":"get","swaggerDoc":"","x":158.5,"y":263,"wires":[["b4725006.a1995"]]},{"id":"bea457df.419d38","type":"http response","z":"7b354ff7.50a86","name":"","x":593.5,"y":240,"wires":[]},{"id":"b4725006.a1995","type":"template","z":"7b354ff7.50a86","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n<title>Hello World</title>\n</head>\n<body>\n    \n    <div>Hello to Watson on Node-RED</div>\n    \n    <div id=\"id_hello\"><span>I think you are typing text in:</span>\n            &nbsp;\n       <span id=\"id_textlang\"></span></div>\n    \n    <form id=\"id_form\">\n        <div>\n            <span>\n            Enter your text to be processed:\n            </span>\n            <span>\n                <input type=\"text\" name=\"name\" id=\"id_text\"/>\n            </span>\n        </div>\n        <div>\n            <input type=\"submit\" value=\"Enter\" id=\"id_enter\"/>\n        </div>\n    </form>   \n\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\">\n</script>\n\n<script type=\"text/javascript\">\n\n$(document).ready(function(){\n    setupPage();\n});\n\nvar LANGUAGES = { \n    'ar' : 'Arabic',\n    'en': 'English' ,\n    'es': 'Spanish',\n    'fr': 'French',\n    'it': 'Italian',\n    'de': 'German',\n    'pt': 'Portuguese',\n    'ko': 'Korean',\n    'zh': 'Chinese'\n};\n\n\nfunction setupPage(){\n    $('#id_hello').hide();\n    $('#id_form').submit(onSubmitClicked);\n    enterbutton();\n}\n\nfunction langLookup(isocode) {\n    return (LANGUAGES[isocode] ? LANGUAGES[isocode] : isocode);\n}\n\nfunction processOK(response) {\n    console.log(response);\n    if (response.identifyresponse){\n        $('#id_textlang').text(langLookup(response.identifyresponse)); \n    } else {\n        $('#id_textlang').text('No response received from service');\n    }\n}\n\nfunction processNotOK() {\n    console.log('Error Processing');\n    $('#id_textlang').text('Oops something went wrong');\n}            \n\nfunction invokeAjax(message) {\n    console.log('AJAX about to be invoked.');\n    console.log(message);\n    var ajaxData = {};\n    ajaxData.msgdata = message;\n    $.ajax({\n        type: 'POST',\n        url: 'langidentify',\n        data: ajaxData,\n        success: processOK,\n        error: processNotOK\n});\n\n}\n\nfunction onSubmitClicked(event){\n    $('#id_hello').show();\n    event.preventDefault();\n    var txt = $('#id_text').val();\n    invokeAjax(txt);\n}\n\nfunction enterbutton(){\n    $(function() {\n    $(\"form input\").keypress(function (e) {\n    if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n        $('#id_enter').click();\n        return false;\n    } else {\n        return true;\n    }\n});\n});\n}\n</script>        \n</body>\n</html>","x":371.5,"y":315,"wires":[["bea457df.419d38"]]},{"id":"47dfa063.18284","type":"http in","z":"7b354ff7.50a86","name":"HTTP REST Identify Language","url":"/langidentify","method":"post","swaggerDoc":"","x":155.5,"y":385,"wires":[["b67d0d22.cf25"]]},{"id":"a7e74635.f88178","type":"http response","z":"7b354ff7.50a86","name":"","x":827.5000095367432,"y":397.7500057220459,"wires":[]},{"id":"cb45f2de.9c0ce","type":"function","z":"7b354ff7.50a86","name":"Process Output","func":"msg.payload = {};\nmsg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language){\n    msg.payload.identifyresponse = msg.lang.language;\n}\nreturn msg;","outputs":1,"noerr":0,"x":651.5,"y":484,"wires":[["a7e74635.f88178"]]},{"id":"b67d0d22.cf25","type":"function","z":"7b354ff7.50a86","name":"Extract Input","func":"msg.payload = msg.req.body.msgdata;\nreturn msg;","outputs":1,"noerr":0,"x":238.5,"y":493,"wires":[["1bfaae64.c4aa52"]]},{"id":"1bfaae64.c4aa52","type":"watson-language-translator-identify","z":"7b354ff7.50a86","name":"","x":411.5,"y":434,"wires":[["cb45f2de.9c0ce","862c3543.b5fad8"]]},{"id":"862c3543.b5fad8","type":"debug","z":"7b354ff7.50a86","name":"","active":true,"console":"false","complete":"lang","x":556.7857131958008,"y":555.8571500778198,"wires":[]},{"id":"6cd3ac09.af9c44","type":"microphone","z":"f16dad1f.1c803","name":"","x":191.5,"y":166,"wires":[["7a70e.17eea8f3"]]},{"id":"5eba70f8.0a91b","type":"delay","z":"f16dad1f.1c803","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":245.5,"y":414,"wires":[[]]},{"id":"d4de49bd.6a1368","type":"play audio","z":"f16dad1f.1c803","name":"","x":814.5,"y":288,"wires":[]},{"id":"7a70e.17eea8f3","type":"watson-speech-to-text","z":"f16dad1f.1c803","name":"","continuous":true,"speakerlabels":true,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"","x":313.5,"y":60,"wires":[["e33f0e6b.67bb7"]]},{"id":"b0b03cf1.96679","type":"watson-text-to-speech","z":"f16dad1f.1c803","name":"","lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"es-ES_LauraVoice","voicehidden":"","format":"audio/wav","password":"","x":477.5,"y":242,"wires":[["d4a01cba.3e0fc"]]},{"id":"7036327f.7de86c","type":"watson-translator","z":"f16dad1f.1c803","name":"","action":"translate","basemodel":"ar-en","domain":"conversational","srclang":"en","destlang":"es","password":"","custom":"","domainhidden":"conversational","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":257.5,"y":281,"wires":[["b0b03cf1.96679"]]},{"id":"e33f0e6b.67bb7","type":"function","z":"f16dad1f.1c803","name":"","func":"msg.payload = msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"x":494.5,"y":72,"wires":[["7036327f.7de86c"]]},{"id":"d4a01cba.3e0fc","type":"function","z":"f16dad1f.1c803","name":"","func":"msg.payload = msg.speech\nreturn msg;","outputs":1,"noerr":0,"x":632.5,"y":147,"wires":[["d4de49bd.6a1368"]]},{"id":"ac6d057a.7e61f8","type":"inject","z":"ddace311.df7b6","name":"Goodbye Inject","topic":"","payload":"It's time for me to go now, goodbye","payloadType":"str","repeat":"","crontab":"","once":false,"x":183.25000381469727,"y":435.7500057220459,"wires":[["7168152c.e517bc"]]},{"id":"bf293b67.4984e8","type":"link in","z":"ddace311.df7b6","name":"Translate Input","links":["5f4dcfe.ff8413","7168152c.e517bc","b895bba7.69abe8"],"x":123.5,"y":230,"wires":[["4fd5c1fb.a0b71"]]},{"id":"b895bba7.69abe8","type":"link out","z":"ddace311.df7b6","name":"Hello Inject","links":["bf293b67.4984e8"],"x":301.5,"y":83,"wires":[]},{"id":"7168152c.e517bc","type":"link out","z":"ddace311.df7b6","name":"GoodBye Inject","links":["bf293b67.4984e8"],"x":324.5,"y":446,"wires":[]},{"id":"3c537501.9b99aa","type":"function","z":"ddace311.df7b6","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":483.5,"y":232,"wires":[["1265c16f.7add2f"]]},{"id":"da635a9a.f1bff8","type":"twitter out","z":"3e9aa070.49a09","twitter":"8f8f7ca0.29df","name":"Tweet","x":1069.7731323242188,"y":1169.4930419921875,"wires":[]},{"id":"42827b36.011844","type":"inject","z":"3e9aa070.49a09","name":"demos","topic":"","payload":"Do you have any demos?","payloadType":"str","repeat":"","crontab":"","once":false,"x":158.85646057128906,"y":1481.5764660835266,"wires":[["5f4dcfe.ff8413"]]},{"id":"2b485b76.f80054","type":"watson-conversation-v1","z":"3e9aa070.49a09","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":631.7731132507324,"y":1248.5764350891113,"wires":[["9c95dd9c.5e08a","f83d075a.6cd328"]]},{"id":"a7dc587e.bf36a8","type":"watson-speech-to-text","z":"3e9aa070.49a09","name":"","continuous":true,"speakerlabels":false,"lang":"en-US","langhidden":"en-US","langcustomhidden":"","band":"BroadbandModel","bandhidden":"","password":"","x":138.0231170654297,"y":1318.826416015625,"wires":[["d82a31f.e88b9d"]]},{"id":"2694b15a.1eb7be","type":"watson-text-to-speech","z":"3e9aa070.49a09","name":"","lang":"en-GB","langhidden":"en-GB","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"","x":1137.8445091247559,"y":1271.1240882873535,"wires":[["e6a0fbfd.c9d9b8"]]},{"id":"d82a31f.e88b9d","type":"function","z":"3e9aa070.49a09","name":"set payload","func":"msg.payload = msg.transcription;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":286.02312088012695,"y":1250.826413154602,"wires":[["773e77bb.af67c8"]]},{"id":"e6a0fbfd.c9d9b8","type":"function","z":"3e9aa070.49a09","name":"set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1332.4398384094238,"y":1195.4098091125488,"wires":[["7d24c745.1a57d8"]]},{"id":"7d24c745.1a57d8","type":"play audio","z":"3e9aa070.49a09","name":"","x":1401.7731685638428,"y":1277.9097843170166,"wires":[]},{"id":"8704c26f.15113","type":"inject","z":"3e9aa070.49a09","name":"","topic":"","payload":"Set user details","payloadType":"str","repeat":"","crontab":"","once":false,"x":113.02311706542969,"y":1062.5764408111572,"wires":[["ae8ad2f.1b1043"]]},{"id":"e300326a.70e3a","type":"watson-conversation-v1","z":"3e9aa070.49a09","name":"","workspaceid":"4169c453-9374-4925-ab31-cd12b1dcf003","multiuser":true,"context":true,"x":588.1064395904541,"y":1985.576509475708,"wires":[["59c00a7c.b1e5c4"]]},{"id":"ba3ae98.ff80518","type":"inject","z":"3e9aa070.49a09","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":179.1064395904541,"y":1903.576509475708,"wires":[["cb6973c9.dfb6c"]]},{"id":"375ec221.e64b7e","type":"inject","z":"3e9aa070.49a09","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":179.6064395904541,"y":1940.576509475708,"wires":[["cb6973c9.dfb6c"]]},{"id":"cb6973c9.dfb6c","type":"function","z":"3e9aa070.49a09","name":"set user 1","func":"msg.user = '1';\n\nreturn msg;","outputs":1,"noerr":0,"x":350.6064395904541,"y":1939.576509475708,"wires":[["e300326a.70e3a"]]},{"id":"d36ef286.780b1","type":"inject","z":"3e9aa070.49a09","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":178.1064395904541,"y":2024.576509475708,"wires":[["b7d3b669.988358"]]},{"id":"9bccff26.c8512","type":"inject","z":"3e9aa070.49a09","name":"","topic":"","payload":"cics","payloadType":"str","repeat":"","crontab":"","once":false,"x":178.6064395904541,"y":2060.576509475708,"wires":[["b7d3b669.988358"]]},{"id":"b7d3b669.988358","type":"function","z":"3e9aa070.49a09","name":"set user 2","func":"msg.user = '2';\n\nreturn msg;","outputs":1,"noerr":0,"x":349.6064395904541,"y":2059.576509475708,"wires":[["e300326a.70e3a"]]},{"id":"59c00a7c.b1e5c4","type":"debug","z":"3e9aa070.49a09","name":"","active":true,"console":"false","complete":"payload.output.text","x":807.1064395904541,"y":1985.576509475708,"wires":[]},{"id":"5b638bfc.656564","type":"inject","z":"3e9aa070.49a09","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":355.1064395904541,"y":1806.576509475708,"wires":[["e300326a.70e3a"]]},{"id":"1c9ac8ce.065657","type":"inject","z":"3e9aa070.49a09","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":355.1064395904541,"y":1842.576509475708,"wires":[["e300326a.70e3a"]]},{"id":"7463bf24.561e","type":"inject","z":"3e9aa070.49a09","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":226.6064395904541,"y":2154.576509475708,"wires":[["c6ad6f15.c3954"]]},{"id":"c6ad6f15.c3954","type":"function","z":"3e9aa070.49a09","name":"reset context","func":"msg.params = {\n    context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":371.6064395904541,"y":2154.576509475708,"wires":[["e300326a.70e3a"]]},{"id":"b0070536.0b4418","type":"inject","z":"3e9aa070.49a09","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":179.6064395904541,"y":1976.576509475708,"wires":[["cb6973c9.dfb6c"]]},{"id":"e6b29bfd.8909a8","type":"inject","z":"3e9aa070.49a09","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":178.1064395904541,"y":2096.576509475708,"wires":[["b7d3b669.988358"]]},{"id":"dc41be09.af091","type":"inject","z":"3e9aa070.49a09","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":355.1064395904541,"y":1878.576509475708,"wires":[["e300326a.70e3a"]]},{"id":"9c4d1fa2.7cec","type":"microphone","z":"3e9aa070.49a09","name":"","x":111.27312088012695,"y":1202.576410293579,"wires":[["a7dc587e.bf36a8"]]},{"id":"ea1b783c.e00b38","type":"inject","z":"3e9aa070.49a09","name":"","topic":"","payload":"reset context","payloadType":"str","repeat":"","crontab":"","once":false,"x":104.02311706542969,"y":1027.2430973052979,"wires":[["852a4e2f.ba4c9"]]},{"id":"852a4e2f.ba4c9","type":"function","z":"3e9aa070.49a09","name":"reset context","func":"msg.params = {\n    context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":276.0231170654297,"y":1027.2431049346924,"wires":[["eb87c43c.f841e8"]]},{"id":"ae8ad2f.1b1043","type":"function","z":"3e9aa070.49a09","name":"add context","func":"msg.additional_context = {\n    twitter: {\n    handle: \"a_twitter_handle_without_the_at_symbol\",\n    dm: false\n}}\nreturn msg;","outputs":1,"noerr":0,"x":275.8564147949219,"y":1062.243127822876,"wires":[["eb87c43c.f841e8"]]},{"id":"9c95dd9c.5e08a","type":"function","z":"3e9aa070.49a09","name":"set payload and tweet","func":"/*output=msg.payload;\nmsg.payload = {};\nmsg.payload.output = {text: [output]}\nmsg.payload.context={twitter: {handle:\"@HiHuman3\",DM:true}}\nnode.warn(msg.payload.context);\n*/\nnode.warn(\"Conversation output is:\\n\" + JSON.stringify(msg.payload))\n\nif (msg.payload.output && msg.payload.output.text) {\n    output = msg.payload.output.text.join(' ');\n    if (output && output.indexOf(\"|tweet:\") > -1) {\n        node.warn(\"tweeting\");\n        if (\n            msg.payload.context.twitter &&\n            msg.payload.context.twitter.handle \n            ) {\n            \n            // extract text and url to tweet and clean up strings\n            var tweet = output.split('|')\n                .filter(function (c){\n                    return c.indexOf(\"tweet:\") > -1 ;\n                }).join(', ').replace(\"tweet:\", '');\n            var url = output.split('|')\n                .filter(function (c){\n                    return c.indexOf(\"link:\") > -1 ;\n                }).join(', ').replace(\"link:\", '');\n            \n            // dm switch\n            var dmswitch = '';\n            if (msg.payload.context.twitter.dm && msg.payload.context.twitter.dm === true){\n                dmswitch = \"DM \";\n            }\n            // construct tweet\n            tweet = dmswitch + \"@\" + msg.payload.context.twitter.handle + \" \" + tweet + \" \" + url;\n            \n            msg.payload = tweet;\n            node.warn(\"Sending string to twitter node: \\n\" + tweet)\n            node.send([msg,null]);\n            \n        } else {node.error(\"no twitter details\");}\n    } else {\n        node.warn(\"no tweet requested\");\n    }\n    output = output.split('|')\n    .filter(function(c) {\n        return c.indexOf(\"tweet:\") === -1 && c.indexOf(\"link:\") === -1;\n    }).join(' ');\n} else {\n    output = 'No response';\n}\n\nnode.warn(\"Cleaned conversation output: \\n\" + output)\nmsg.payload = output;\nnode.send([null,msg]);","outputs":"2","noerr":0,"x":835.939769744873,"y":1247.243076324463,"wires":[["da635a9a.f1bff8"],["6b5ee865.38b088"]]},{"id":"773e77bb.af67c8","type":"link out","z":"3e9aa070.49a09","name":"gototone","links":["36524a2e.139ce6"],"x":359.576171875,"y":1347.076416015625,"wires":[]},{"id":"878264ec.797468","type":"link in","z":"3e9aa070.49a09","name":"convIn","links":["5f4dcfe.ff8413","eb87c43c.f841e8","4263dc95.c4a094","cb791c85.7ae69"],"x":504.439857006073,"y":1299.6598091125488,"wires":[["2b485b76.f80054","484c82e8.4f515c"]]},{"id":"d834f897.b476e8","type":"inject","z":"3e9aa070.49a09","name":"Hi","topic":"","payload":"switch","payloadType":"str","repeat":"","crontab":"","once":false,"x":158.0231170654297,"y":1443.99312210083,"wires":[["5f4dcfe.ff8413"]]},{"id":"8b253a75.2f7e78","type":"inject","z":"3e9aa070.49a09","name":"Angry feedback","topic":"","payload":"it's really horrendous how badly these nodes are documented - There is absolutely no way any body can follow that! Infuriating!","payloadType":"str","repeat":"","crontab":"","once":false,"x":130.2731170654297,"y":1517.4931230545044,"wires":[["5f4dcfe.ff8413"]]},{"id":"af22cc09.bfa92","type":"inject","z":"3e9aa070.49a09","name":"Happy feedback","topic":"","payload":"These new nodes are awesome! I love the way they are used in the new flows!","payloadType":"str","repeat":"","crontab":"","once":false,"x":129.7731170654297,"y":1553.2431240081787,"wires":[["5f4dcfe.ff8413"]]},{"id":"36524a2e.139ce6","type":"link in","z":"3e9aa070.49a09","name":"","links":["773e77bb.af67c8","5f4dcfe.ff8413"],"x":528.7500066757202,"y":1629.502402305603,"wires":[["c0fcaeb4.31eeb","766e1414.b550ac"]]},{"id":"c0fcaeb4.31eeb","type":"debug","z":"3e9aa070.49a09","name":"","active":true,"console":"false","complete":"false","x":656.2500076293945,"y":1586.1690883636475,"wires":[]},{"id":"cb791c85.7ae69","type":"link out","z":"3e9aa070.49a09","name":"","links":["878264ec.797468"],"x":1032.0000190734863,"y":1626.3357753753662,"wires":[]},{"id":"766e1414.b550ac","type":"watson-tone-analyzer-v3","z":"3e9aa070.49a09","name":"","tones":"emotion","sentences":"false","contentType":"false","x":663.5000076293945,"y":1626.0857458114624,"wires":[["f2332072.aed03"]]},{"id":"f2332072.aed03","type":"function","z":"3e9aa070.49a09","name":"add emotion to context","func":"var emotions = [];\nvar threshold = 0.5;\nvar topemotion ='';\n\n// simplify object returned by tone analyser to only the emotion tones\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n\nnode.warn(\"Detected tones: \\n\" + JSON.stringify(emotions));\n\n// find highest score and return that tone name, if that score is greater than the threshold\ntopemotion = emotions.reduce(function(a, b){ return a.score > b.score ? a : b; });\n\nif (topemotion.score > threshold) {\n    topemotion = topemotion.tone_name;\n} else {\n    topemotion = \"neutral\";\n}\n\n\n// add top emotion to conversation context\nmsg.additional_context = { emotion: topemotion };\n\nnode.warn(\"Emotion added to conversation context:\\n   \" +  topemotion);    \n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":878.083324432373,"y":1627.002402305603,"wires":[["cb791c85.7ae69"]]},{"id":"5f4dcfe.ff8413","type":"link out","z":"3e9aa070.49a09","name":"frommaninputs","links":["878264ec.797468","36524a2e.139ce6","bf293b67.4984e8"],"x":324.7400140762329,"y":1494.8843040466309,"wires":[]},{"id":"eb87c43c.f841e8","type":"link out","z":"3e9aa070.49a09","name":"adminout","links":["878264ec.797468"],"x":395.4670042991638,"y":1044.8385372161865,"wires":[]},{"id":"6b2dc6f5.956128","type":"comment","z":"3e9aa070.49a09","name":"config","info":"","x":57.175750732421875,"y":987,"wires":[]},{"id":"f02949a.3e3f4b8","type":"comment","z":"3e9aa070.49a09","name":"speech in","info":"","x":67.50000381469727,"y":1167.1111936569214,"wires":[]},{"id":"7d29c9bb.ebae68","type":"comment","z":"3e9aa070.49a09","name":"test txt in","info":"","x":65,"y":1404.6112575531006,"wires":[]},{"id":"9600df.8a913f2","type":"comment","z":"3e9aa070.49a09","name":"tone analyser","info":"","x":568.7500152587891,"y":1402.1112337112427,"wires":[]},{"id":"212614c1.44833c","type":"comment","z":"3e9aa070.49a09","name":"conversations call and output","info":"","x":613.7500419616699,"y":1173.361192703247,"wires":[]},{"id":"f83d075a.6cd328","type":"debug","z":"3e9aa070.49a09","name":"","active":true,"console":"false","complete":"payload","x":815.5,"y":1314,"wires":[]},{"id":"484c82e8.4f515c","type":"debug","z":"3e9aa070.49a09","name":"","active":true,"console":"false","complete":"payload","x":609.5,"y":1350,"wires":[]},{"id":"77e85b9.bc5a4a4","type":"http in","z":"9c8aeb69.e71cf8","name":"Messenger Verification Webhook","url":"/chatbot","method":"get","swaggerDoc":"","x":147.5,"y":274,"wires":[["16c5f09c.6847ef","7ecc8c8a.3e7674"]]},{"id":"7ecc8c8a.3e7674","type":"function","z":"9c8aeb69.e71cf8","name":"","func":"var mode='';\nvar vtoken='';\nvar challenge='';\nif(msg.payload['hub.mode']){\n    mode = msg.payload['hub.mode'];\n}\nif(msg.payload['hub.verify_token']){\n    vtoken = msg.payload['hub.verify_token'];\n}\n\nif(msg.payload['hub.challenge']){\n    challenge = msg.payload['hub.challenge'];\n}\n\nif('subscribe'== mode && 'somelongstringnobodyisevergoingtoguess' == vtoken){\n    msg.payload = challenge;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":377.5,"y":255,"wires":[["1ea0f0b9.2745df"]]},{"id":"1ea0f0b9.2745df","type":"http response","z":"9c8aeb69.e71cf8","name":"","x":616.5,"y":252,"wires":[]},{"id":"16c5f09c.6847ef","type":"debug","z":"9c8aeb69.e71cf8","name":"","active":true,"console":"false","complete":"payload","x":297.5,"y":108,"wires":[]},{"id":"fd66818d.b68a","type":"http in","z":"9c8aeb69.e71cf8","name":"Messenger Chat Listener","url":"/chatbot","method":"post","swaggerDoc":"","x":140.5,"y":471,"wires":[["a7a1e160.601dd","beb5c244.ac31b"]]},{"id":"beb5c244.ac31b","type":"function","z":"9c8aeb69.e71cf8","name":"","func":"if (msg.payload.object && 'page' == msg.payload.object) {\n    if (msg.payload.entry){     \n        var entry = msg.payload.entry;\n        for (var i = 0; i < entry.length; i++) {\n            var pageID = entry[i].id;\n            var timeOfEvent = entry[i].time; \n            var messaging = entry[i].messaging\n            for (var j =0; j < messaging.length; j++) {\n                if (messaging[j].message) {\n                    msg.messagingEvent = messaging[j];\n                    node.send([msg,null]); \n                }               \n            }\n        }\n    }\n}\nreturn [null,msg];","outputs":"2","noerr":0,"x":398.5,"y":473,"wires":[["b8a7580d.94a948"],["4ee3ccc5.656b04","a4a7d5df.8ea3d8"]]},{"id":"b8a7580d.94a948","type":"http response","z":"9c8aeb69.e71cf8","name":"","x":620.5,"y":396,"wires":[]},{"id":"a7a1e160.601dd","type":"debug","z":"9c8aeb69.e71cf8","name":"","active":true,"console":"false","complete":"false","x":332.5,"y":378,"wires":[]},{"id":"4ee3ccc5.656b04","type":"debug","z":"9c8aeb69.e71cf8","name":"","active":true,"console":"false","complete":"messagingEvent","x":596.5,"y":566,"wires":[]},{"id":"dd342b6b.740328","type":"facebook-messenger-writer","z":"9c8aeb69.e71cf8","name":"","x":788.5,"y":318,"wires":[["915a5260.a2ebc"]]},{"id":"dee39cec.9c68e","type":"function","z":"9c8aeb69.e71cf8","name":"","func":"msg.facebookevent = msg.messagingEvent;\nreturn msg;","outputs":1,"noerr":0,"x":517.5,"y":343,"wires":[["dd342b6b.740328"]]},{"id":"915a5260.a2ebc","type":"debug","z":"9c8aeb69.e71cf8","name":"","active":true,"console":"false","complete":"payload","x":918.5,"y":171,"wires":[]},{"id":"a4a7d5df.8ea3d8","type":"function","z":"9c8aeb69.e71cf8","name":"","func":"msg.fromMessenger = true;\nmsg.payload = msg.messagingEvent.message.text;\nreturn msg;","outputs":1,"noerr":0,"x":467.5,"y":651,"wires":[["4263dc95.c4a094"]]},{"id":"4263dc95.c4a094","type":"link out","z":"9c8aeb69.e71cf8","name":"","links":["1f9b3a30.576446","878264ec.797468"],"x":691.5,"y":668,"wires":[]},{"id":"6b5ee865.38b088","type":"function","z":"3e9aa070.49a09","name":"","func":"if(msg.fromMessenger){\n    return [msg,msg];\n} else {\n    return [msg, null];\n}","outputs":1,"noerr":0,"x":994.5,"y":1381,"wires":[["2694b15a.1eb7be","aad6443.dd741b8"]]},{"id":"aad6443.dd741b8","type":"link out","z":"3e9aa070.49a09","name":"conversation out for Messenger 7bdRightOne","links":[],"x":1150.5,"y":1404,"wires":[]},{"id":"2a90db0f.fdf574","type":"link in","z":"9c8aeb69.e71cf8","name":"","links":["1423bf9d.a6743"],"x":355.5,"y":327,"wires":[["dee39cec.9c68e"]]},{"id":"6a7fb70c.c1f578","type":"http in","z":"82c61a44.0e9f98","name":"","url":"/tele","method":"get","swaggerDoc":"","x":193.5,"y":176,"wires":[["8e30670c.b61fe8"]]},{"id":"8e30670c.b61fe8","type":"http request","z":"82c61a44.0e9f98","name":"","method":"GET","ret":"txt","url":"https://raw.githubusercontent.com/ibm-early-programs/watson-tv/master/tv.html","tls":"","x":439.5,"y":166,"wires":[["6b954dad.330a74"]]},{"id":"e955ff99.d6d8d","type":"http response","z":"82c61a44.0e9f98","name":"","x":644.5,"y":351,"wires":[]},{"id":"6b954dad.330a74","type":"function","z":"82c61a44.0e9f98","name":"","func":"msg.headers = {'Content-Type':'text/html'}\nreturn msg;","outputs":1,"noerr":0,"x":528.5,"y":246,"wires":[["e955ff99.d6d8d"]]},{"id":"4c705039.a4aa1","type":"http in","z":"82c61a44.0e9f98","name":"","url":"/tv","method":"get","swaggerDoc":"","x":191,"y":426,"wires":[["cb890ac6.9d9208"]]},{"id":"768bbf57.7beef","type":"http response","z":"82c61a44.0e9f98","name":"","x":685,"y":426,"wires":[]},{"id":"cb890ac6.9d9208","type":"http request","z":"82c61a44.0e9f98","name":"","method":"GET","ret":"txt","url":"https://raw.githubusercontent.com/ibm-early-programs/watson-tv/master/tv.html","tls":"","x":334.5,"y":426,"wires":[["763c6afa.80b874"]]},{"id":"90ea7a81.90bda8","type":"watson-speech-to-text","z":"82c61a44.0e9f98","name":"","continuous":true,"lang":"en-US","langhidden":"en-US","band":"BroadbandModel","bandhidden":"","password":"","x":841,"y":709,"wires":[["d7a0a61e.280c88"]]},{"id":"d7a0a61e.280c88","type":"change","z":"82c61a44.0e9f98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1022,"y":709,"wires":[["71f476bd.c95b78"]]},{"id":"6c01b2c4.deb5dc","type":"link in","z":"82c61a44.0e9f98","name":"","links":["71f476bd.c95b78"],"x":408,"y":758,"wires":[["cd2870b4.116ec"]]},{"id":"71f476bd.c95b78","type":"link out","z":"82c61a44.0e9f98","name":"","links":["6c01b2c4.deb5dc"],"x":1145,"y":709,"wires":[]},{"id":"245f8411.8dcfec","type":"debug","z":"82c61a44.0e9f98","name":"","active":false,"console":"false","complete":"false","x":951,"y":758,"wires":[]},{"id":"16d1e6c9.7dcd29","type":"function","z":"82c61a44.0e9f98","name":"append to global","func":"var translation = [];\n\nif (global.get(\"translation\")) {\n    translation = global.get(\"translation\");\n}\n\ntranslation.push({\n    text: msg.payload,\n    start: msg.timesplit[0],\n    end: msg.timesplit[1]\n});\n\nglobal.set(\"translation\", translation); \nreturn msg;","outputs":1,"noerr":0,"x":766,"y":758,"wires":[["245f8411.8dcfec"]]},{"id":"8d13fcd0.8c926","type":"http in","z":"82c61a44.0e9f98","name":"","url":"/translation","method":"get","swaggerDoc":"","x":220,"y":504,"wires":[["2ecdba0f.c72cb6"]]},{"id":"c09def8f.53528","type":"http response","z":"82c61a44.0e9f98","name":"","x":694,"y":551,"wires":[]},{"id":"2ecdba0f.c72cb6","type":"change","z":"82c61a44.0e9f98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"translation","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":406,"y":504,"wires":[["c09def8f.53528","ee2f3382.59a49"]]},{"id":"59f2c16e.1ad5","type":"http response","z":"82c61a44.0e9f98","name":"","x":561,"y":576,"wires":[]},{"id":"c3be8176.2d23","type":"http in","z":"82c61a44.0e9f98","name":"","url":"/translate","method":"post","swaggerDoc":"","x":220,"y":584,"wires":[["bcfe2a6b.6ce4d8"]]},{"id":"bcfe2a6b.6ce4d8","type":"change","z":"82c61a44.0e9f98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":399,"y":584,"wires":[["59f2c16e.1ad5","6ea3d71e.f2c6c8","30ec6ecf.b84342"]]},{"id":"763c6afa.80b874","type":"change","z":"82c61a44.0e9f98","name":"","rules":[{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":518.5,"y":426,"wires":[["768bbf57.7beef"]]},{"id":"30ec6ecf.b84342","type":"ffmpeg-conversion","z":"82c61a44.0e9f98","name":"","format":"wav","x":335,"y":671,"wires":[["d4f1ab8c.2f51a8"]]},{"id":"d4f1ab8c.2f51a8","type":"ffmpeg-silence-detect","z":"82c61a44.0e9f98","name":"","noise":0.008,"duration":0.8,"x":592,"y":667,"wires":[["779ef4f6.23790c"]]},{"id":"d8fe20d1.db087","type":"ffmpeg-segment","z":"82c61a44.0e9f98","name":"","timeout":true,"x":661.5,"y":709,"wires":[["90ea7a81.90bda8"]]},{"id":"779ef4f6.23790c","type":"function","z":"82c61a44.0e9f98","name":"average","func":"msg.times = [];\n\nfor (var i = 0; i < msg.silences.length; ++i) {\n    var s = msg.silences[i];\n    msg.times.push((s[1] - s[0]) / 2 + s[0]);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":499.5,"y":709,"wires":[["d8fe20d1.db087"]]},{"id":"73f1de30.1ca5c","type":"comment","z":"82c61a44.0e9f98","name":"Get UI from Github","info":"","x":230.5,"y":388,"wires":[]},{"id":"5b9e0945.7936b8","type":"comment","z":"82c61a44.0e9f98","name":"Get global context for latest translations","info":"","x":289.5,"y":466,"wires":[]},{"id":"ed93636.ba7cda","type":"comment","z":"82c61a44.0e9f98","name":"UI posts URL to perform ffmpeg functions","info":"","x":300,"y":546,"wires":[]},{"id":"ee2f3382.59a49","type":"debug","z":"82c61a44.0e9f98","name":"Translation Set","active":true,"console":"false","complete":"payload","x":769.5,"y":485,"wires":[]},{"id":"6ea3d71e.f2c6c8","type":"debug","z":"82c61a44.0e9f98","name":"Translation Requested","active":true,"console":"false","complete":"payload","x":618.5,"y":626,"wires":[]},{"id":"cd2870b4.116ec","type":"watson-translator","z":"82c61a44.0e9f98","name":"","action":"translate","basemodel":"ar-en","domain":"conversational","srclang":"pt","destlang":"en","password":"","custom":"","domainhidden":"conversational","srclanghidden":"pt","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":556.5,"y":771,"wires":[["16d1e6c9.7dcd29"]]},{"id":"69915021.fe513","type":"watson-language-translator-identify","z":"7b354ff7.50a86","name":"","x":358.85716247558594,"y":746.2857666015625,"wires":[["336daf2a.816f9"]]},{"id":"336daf2a.816f9","type":"function","z":"7b354ff7.50a86","name":"Process Output","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language){\n    msg.payload.identifyresponse = msg.lang.language;\n}\nreturn msg;","outputs":1,"noerr":0,"x":577.1428985595703,"y":692.8572177886963,"wires":[["59dace2b.8b83b","a786575c.3ea4d8","69ac4bd9.e474e4","59527c3b.db25d4","5e9d682c.62f778","ebc34b37.342428","9589d50d.b2de38","ed403647.e259f8"]]},{"id":"b8956009.a2f38","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"es","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"es","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1005.2540092468262,"y":690.5397663116455,"wires":[["c127155c.252a78"]]},{"id":"59dace2b.8b83b","type":"function","z":"7b354ff7.50a86","name":"Spanish","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language == \"es\"){\n    //msg.payload.identifyresponse = msg.lang.language;\n    //msg = msg.payload;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":826.9999389648438,"y":690.8572387695312,"wires":[["b8956009.a2f38"]]},{"id":"aa112c59.b91c5","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"es","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1635.2542533874512,"y":744.3494606018066,"wires":[["436fb6e8.9613c8"]]},{"id":"c127155c.252a78","type":"watson-conversation-v1","z":"7b354ff7.50a86","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":1234.1428031921387,"y":689.4286398887634,"wires":[["20f86b3e.1d26d4"]]},{"id":"52b3887f.b3e6a8","type":"inject","z":"7b354ff7.50a86","name":"Mientras","topic":"","payload":"Mientras","payloadType":"str","repeat":"","crontab":"","once":false,"x":106.42857142857142,"y":681.4285714285713,"wires":[["69915021.fe513"]]},{"id":"3089ee8.e4a3c12","type":"inject","z":"7b354ff7.50a86","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":146.28571319580078,"y":1144.28564453125,"wires":[["69915021.fe513"]]},{"id":"436fb6e8.9613c8","type":"function","z":"7b354ff7.50a86","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1823.2142333984375,"y":725.21435546875,"wires":[["7e7e790.437ff88","1423bf9d.a6743"]]},{"id":"7e7e790.437ff88","type":"debug","z":"7b354ff7.50a86","name":"","active":true,"console":"false","complete":"translation","x":2033.4285888671875,"y":695.7857055664062,"wires":[]},{"id":"20f86b3e.1d26d4","type":"function","z":"7b354ff7.50a86","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":1451.7321243286133,"y":743.8929090499878,"wires":[["aa112c59.b91c5"]]},{"id":"76d7b2b6.cce35c","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"it","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"it","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1016,"y":799.9999814033508,"wires":[["6a7ab8b8.4a1ae8"]]},{"id":"a786575c.3ea4d8","type":"function","z":"7b354ff7.50a86","name":"Italian","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language == \"it\"){\n    //msg.payload.identifyresponse = msg.lang.language;\n    //msg = msg.payload;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":827.7459297180176,"y":800.3174538612366,"wires":[["76d7b2b6.cce35c"]]},{"id":"6f457c7c.3dee14","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"it","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"it","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1646.000244140625,"y":853.809675693512,"wires":[["1656f62d.52cf5a"]]},{"id":"6a7ab8b8.4a1ae8","type":"watson-conversation-v1","z":"7b354ff7.50a86","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":1244.8887939453125,"y":798.8888549804688,"wires":[["88e01d46.f3155"]]},{"id":"1656f62d.52cf5a","type":"function","z":"7b354ff7.50a86","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1835.9602508544922,"y":850.6745781898499,"wires":[["be1d37a8.9870f8","1423bf9d.a6743"]]},{"id":"be1d37a8.9870f8","type":"debug","z":"7b354ff7.50a86","name":"","active":true,"console":"false","complete":"translation","x":2022.174560546875,"y":797.2459716796875,"wires":[]},{"id":"88e01d46.f3155","type":"function","z":"7b354ff7.50a86","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":1462.478115081787,"y":853.3531241416931,"wires":[["6f457c7c.3dee14"]]},{"id":"20d53da3.351412","type":"inject","z":"7b354ff7.50a86","name":"Mella","topic":"","payload":"Mella","payloadType":"str","repeat":"","crontab":"","once":true,"x":84,"y":762,"wires":[["69915021.fe513"]]},{"id":"3461e15b.0637be","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"fr","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"fr","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1003.9999809265137,"y":904.0000324249268,"wires":[["f667c737.fd8b98"]]},{"id":"69ac4bd9.e474e4","type":"function","z":"7b354ff7.50a86","name":"France","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language == \"fr\"){\n    //msg.payload.identifyresponse = msg.lang.language;\n    //msg = msg.payload;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":815.7459106445312,"y":904.3175048828125,"wires":[["3461e15b.0637be"]]},{"id":"1b1db91.570c147","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"fr","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1634.0002250671387,"y":957.8097267150879,"wires":[["9ddb68c8.93ee18"]]},{"id":"f667c737.fd8b98","type":"watson-conversation-v1","z":"7b354ff7.50a86","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":1232.8887748718262,"y":902.8889060020447,"wires":[["52cb9ab.1e57764"]]},{"id":"9ddb68c8.93ee18","type":"function","z":"7b354ff7.50a86","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1823.9602317810059,"y":954.6746292114258,"wires":[["809cadd0.798cc","1423bf9d.a6743"]]},{"id":"809cadd0.798cc","type":"debug","z":"7b354ff7.50a86","name":"","active":true,"console":"false","complete":"translation","x":2028.174560546875,"y":885.2459716796875,"wires":[]},{"id":"52cb9ab.1e57764","type":"function","z":"7b354ff7.50a86","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":1450.4780960083008,"y":957.353175163269,"wires":[["1b1db91.570c147"]]},{"id":"aa120f8c.173a6","type":"inject","z":"7b354ff7.50a86","name":"Bonjour","topic":"","payload":"Bonjour","payloadType":"str","repeat":"","crontab":"","once":true,"x":96,"y":852,"wires":[["69915021.fe513"]]},{"id":"e73c7985.2a0ec8","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"de","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"de","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1054,"y":1004,"wires":[["24f172cd.757aee"]]},{"id":"59527c3b.db25d4","type":"function","z":"7b354ff7.50a86","name":"German","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language == \"de\"){\n    //msg.payload.identifyresponse = msg.lang.language;\n    //msg = msg.payload;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":809.7459106445312,"y":1004.3175048828125,"wires":[["e73c7985.2a0ec8"]]},{"id":"9a60c00f.bb1d5","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"de","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"de","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1684.000244140625,"y":1057.8096942901611,"wires":[["6953ecce.548db4"]]},{"id":"24f172cd.757aee","type":"watson-conversation-v1","z":"7b354ff7.50a86","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":1282.8887939453125,"y":1002.8888735771179,"wires":[["2bb5e8b.ce38918"]]},{"id":"6953ecce.548db4","type":"function","z":"7b354ff7.50a86","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1873.9602508544922,"y":1054.674596786499,"wires":[["a59c00c9.cef27","1423bf9d.a6743"]]},{"id":"a59c00c9.cef27","type":"debug","z":"7b354ff7.50a86","name":"","active":true,"console":"false","complete":"translation","x":2042.174560546875,"y":1001.2459716796875,"wires":[]},{"id":"2bb5e8b.ce38918","type":"function","z":"7b354ff7.50a86","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":1500.478115081787,"y":1057.3531427383423,"wires":[["9a60c00f.bb1d5"]]},{"id":"7dd4c5ba.40b5dc","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"pt","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"pt","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1035.9999732971191,"y":1118.0000095367432,"wires":[["7115bb5c.e58834"]]},{"id":"5e9d682c.62f778","type":"function","z":"7b354ff7.50a86","name":"Portuguese","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language == \"pt\"){\n    //msg.payload.identifyresponse = msg.lang.language;\n    //msg = msg.payload;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":801.7459106445312,"y":1126.3175048828125,"wires":[["7dd4c5ba.40b5dc"]]},{"id":"8585a332.34f8f","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"pt","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"pt","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1666.0002174377441,"y":1171.8097038269043,"wires":[["69cc830c.57b1ac"]]},{"id":"7115bb5c.e58834","type":"watson-conversation-v1","z":"7b354ff7.50a86","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":1264.8887672424316,"y":1116.888883113861,"wires":[["9149b526.d2db68"]]},{"id":"69cc830c.57b1ac","type":"function","z":"7b354ff7.50a86","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1855.9602241516113,"y":1168.6746063232422,"wires":[["27739b6b.b65b44","1423bf9d.a6743"]]},{"id":"27739b6b.b65b44","type":"debug","z":"7b354ff7.50a86","name":"","active":true,"console":"false","complete":"translation","x":2048.174560546875,"y":1191.2459716796875,"wires":[]},{"id":"9149b526.d2db68","type":"function","z":"7b354ff7.50a86","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":1482.4780883789062,"y":1171.3531522750854,"wires":[["8585a332.34f8f"]]},{"id":"45e521bf.eb33b","type":"inject","z":"7b354ff7.50a86","name":"Trabalho","topic":"","payload":"Trabalho","payloadType":"str","repeat":"","crontab":"","once":true,"x":98,"y":952,"wires":[["69915021.fe513"]]},{"id":"4e5eaca9.f6bc74","type":"inject","z":"7b354ff7.50a86","name":"du hast","topic":"","payload":"du hast","payloadType":"str","repeat":"","crontab":"","once":true,"x":110,"y":1030,"wires":[["69915021.fe513"]]},{"id":"ebc34b37.342428","type":"function","z":"7b354ff7.50a86","name":"English","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language == \"en\"){\n    //msg.payload.identifyresponse = msg.lang.language;\n    //msg = msg.payload;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":791.7459106445312,"y":604.3174438476562,"wires":[["e6501a9f.9be228"]]},{"id":"e6501a9f.9be228","type":"watson-conversation-v1","z":"7b354ff7.50a86","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":1014.8887939453125,"y":602.8888549804688,"wires":[["7c583be8.b82a04"]]},{"id":"701d20eb.56811","type":"debug","z":"7b354ff7.50a86","name":"","active":true,"console":"false","complete":"payload","x":2198.174560546875,"y":491.2459716796875,"wires":[]},{"id":"7c583be8.b82a04","type":"function","z":"7b354ff7.50a86","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":2094.4781494140625,"y":623.3531494140625,"wires":[["701d20eb.56811","1423bf9d.a6743"]]},{"id":"1f9b3a30.576446","type":"link in","z":"7b354ff7.50a86","name":"Polyglot","links":["4263dc95.c4a094"],"x":122.99999999999997,"y":587.9999999999999,"wires":[["69915021.fe513"]]},{"id":"1423bf9d.a6743","type":"link out","z":"7b354ff7.50a86","name":"","links":["2a90db0f.fdf574"],"x":2358.9999999999995,"y":889.9999999999998,"wires":[]},{"id":"311d6434.37e8ac","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"ko","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"ko","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1022,"y":1232,"wires":[["8f5edba9.743998"]]},{"id":"9589d50d.b2de38","type":"function","z":"7b354ff7.50a86","name":"Korean","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language == \"ko\"){\n    //msg.payload.identifyresponse = msg.lang.language;\n    //msg = msg.payload;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":777.7459373474121,"y":1240.3174953460693,"wires":[["311d6434.37e8ac"]]},{"id":"46cae465.a8d15c","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"ko","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"ko","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1652.000244140625,"y":1285.8096942901611,"wires":[["5fa9c9db.247208"]]},{"id":"8f5edba9.743998","type":"watson-conversation-v1","z":"7b354ff7.50a86","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":1250.8887939453125,"y":1230.888873577118,"wires":[["fff9ca3a.aaada8"]]},{"id":"5fa9c9db.247208","type":"function","z":"7b354ff7.50a86","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1841.9602508544922,"y":1282.674596786499,"wires":[["8756c004.19aef","1423bf9d.a6743"]]},{"id":"8756c004.19aef","type":"debug","z":"7b354ff7.50a86","name":"","active":true,"console":"false","complete":"translation","x":2034.1745872497559,"y":1305.2459621429443,"wires":[]},{"id":"fff9ca3a.aaada8","type":"function","z":"7b354ff7.50a86","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":1468.478115081787,"y":1285.3531427383423,"wires":[["46cae465.a8d15c"]]},{"id":"b1f17d92.5f4d1","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"arz","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"arz","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1014,"y":1344,"wires":[["62591ad1.dce094"]]},{"id":"ed403647.e259f8","type":"function","z":"7b354ff7.50a86","name":"Arabic","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language == \"ar\"){\n    //msg.payload.identifyresponse = msg.lang.language;\n    //msg = msg.payload;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":759.7459373474121,"y":1352.3174953460693,"wires":[["b1f17d92.5f4d1"]]},{"id":"d2648231.4644d","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"arz","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"arz","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1644.000244140625,"y":1397.8096942901611,"wires":[["2b47f854.73ff68"]]},{"id":"62591ad1.dce094","type":"watson-conversation-v1","z":"7b354ff7.50a86","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":1242.8887939453125,"y":1342.888873577118,"wires":[["2a7e32c2.e5fafe"]]},{"id":"2b47f854.73ff68","type":"function","z":"7b354ff7.50a86","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1833.9602508544922,"y":1394.674596786499,"wires":[["30188315.7e92fc","1423bf9d.a6743"]]},{"id":"30188315.7e92fc","type":"debug","z":"7b354ff7.50a86","name":"","active":true,"console":"false","complete":"translation","x":2026.174560546875,"y":1433.2459716796875,"wires":[]},{"id":"2a7e32c2.e5fafe","type":"function","z":"7b354ff7.50a86","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":1460.478115081787,"y":1397.3531427383423,"wires":[["d2648231.4644d"]]},{"id":"fb122b6.435b6d8","type":"microphone","z":"f16dad1f.1c803","name":"","x":113,"y":604,"wires":[["6bbaed71.bda674"]]},{"id":"4feabafa.258114","type":"play audio","z":"f16dad1f.1c803","name":"","x":1281,"y":746,"wires":[]},{"id":"6bbaed71.bda674","type":"watson-speech-to-text","z":"f16dad1f.1c803","name":"","continuous":true,"speakerlabels":true,"lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"","x":320,"y":624,"wires":[["498ed90f.e63358"]]},{"id":"f0f3e428.7ba2a8","type":"watson-text-to-speech","z":"f16dad1f.1c803","name":"","lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"es-ES_LauraVoice","voicehidden":"","format":"audio/wav","password":"","x":1006,"y":670,"wires":[["b9d8701.55c989"]]},{"id":"c0539d93.a4f19","type":"watson-translator","z":"f16dad1f.1c803","name":"","action":"translate","basemodel":"ar-en","domain":"conversational","srclang":"es","destlang":"en","password":"","custom":"","domainhidden":"conversational","srclanghidden":"es","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":676,"y":637,"wires":[["8d60fa53.949ab8"]]},{"id":"498ed90f.e63358","type":"function","z":"f16dad1f.1c803","name":"","func":"msg.payload = msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"x":499,"y":610,"wires":[["c0539d93.a4f19"]]},{"id":"b9d8701.55c989","type":"function","z":"f16dad1f.1c803","name":"","func":"msg.payload = msg.speech\nreturn msg;","outputs":1,"noerr":0,"x":1185,"y":511,"wires":[["4feabafa.258114"]]},{"id":"3e3f08ff.5aae88","type":"debug","z":"f16dad1f.1c803","name":"","active":true,"console":"false","complete":"translation","x":1078.2857856750488,"y":860,"wires":[]},{"id":"76c9f54.e7f440c","type":"function","z":"f16dad1f.1c803","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":868.0714302062988,"y":889.4286499023438,"wires":[["3e3f08ff.5aae88","f0f3e428.7ba2a8"]]},{"id":"134a1d49.1621f3","type":"watson-translator","z":"f16dad1f.1c803","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"es","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":680.1114501953125,"y":908.5637550354004,"wires":[["76c9f54.e7f440c"]]},{"id":"43ad9b4e.f444f4","type":"function","z":"f16dad1f.1c803","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":736.5893249511719,"y":792.107177734375,"wires":[["134a1d49.1621f3"]]},{"id":"8d60fa53.949ab8","type":"watson-conversation-v1","z":"f16dad1f.1c803","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":719,"y":709.6429443359375,"wires":[["43ad9b4e.f444f4"]]}]