FlowsBackup/allFlows2147min18May.json
[{"id":"4df511b2.b5cce","type":"tab","label":"twitter"},{"id":"68051f9d.27703","type":"tab","label":"Flow 1"},{"id":"1ae3447e.ee8ffc","type":"tab","label":"Hello World"},{"id":"7809db53.f0bfe4","type":"tab","label":"Beginner HTML"},{"id":"30143259.52db0e","type":"tab","label":"Interpreter"},{"id":"4eea5c48.d83d74","type":"tab","label":"OK Watson"},{"id":"3335e224.0000ce","type":"tab","label":"Messenger webhook"},{"id":"47a1b4be.d97b5c","type":"tab","label":"Watson TV"},{"id":"316f1abc.b195a6","type":"twitter-credentials","z":"","screen_name":"@HiHuman3"},{"id":"3a9fb263.f1254e","type":"twitter-credentials","z":"","screen_name":"@MikeGomesCamara"},{"id":"d1f64a2d.cf87c8","type":"twitter-credentials","z":"","screen_name":"@HiHuman3"},{"id":"c366cbc.f6dd338","type":"inject","z":"1ae3447e.ee8ffc","name":"Hello  W orld inject","topic":"","payload":"Hello, this is my first Node - RED application .","payloadType":"str","repeat":"","crontab":"","once":false,"x":136.5,"y":100,"wires":[["e7bc6676.9c36a8"]]},{"id":"76ac066.73dacf8","type":"debug","z":"1ae3447e.ee8ffc","name":"","active":true,"console":"false","complete":"translation","x":647.5,"y":241,"wires":[]},{"id":"48b48c9e.933bd4","type":"watson-translator","z":"1ae3447e.ee8ffc","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"es","password":"MurD0ch17!Sem3st3r1","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":296.5,"y":230,"wires":[["a752bd19.bedfe"]]},{"id":"76cb8f71.08829","type":"http in","z":"7809db53.f0bfe4","name":"HTTP Hello World","url":"/hw","method":"get","swaggerDoc":"","x":158.5,"y":263,"wires":[["a7333d08.dd688"]]},{"id":"a03e4325.ea6a4","type":"http response","z":"7809db53.f0bfe4","name":"","x":593.5,"y":240,"wires":[]},{"id":"a7333d08.dd688","type":"template","z":"7809db53.f0bfe4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n<title>Hello World</title>\n</head>\n<body>\n    \n    <div>Hello to Watson on Node-RED</div>\n    \n    <div id=\"id_hello\"><span>I think you are typing text in:</span>\n            &nbsp;\n       <span id=\"id_textlang\"></span></div>\n    \n    <form id=\"id_form\">\n        <div>\n            <span>\n            Enter your text to be processed:\n            </span>\n            <span>\n                <input type=\"text\" name=\"name\" id=\"id_text\"/>\n            </span>\n        </div>\n        <div>\n            <input type=\"submit\" value=\"Enter\" id=\"id_enter\"/>\n        </div>\n    </form>   \n\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\">\n</script>\n\n<script type=\"text/javascript\">\n\n$(document).ready(function(){\n    setupPage();\n});\n\nvar LANGUAGES = { \n    'ar' : 'Arabic',\n    'en': 'English' ,\n    'es': 'Spanish',\n    'fr': 'French',\n    'it': 'Italian',\n    'de': 'German',\n    'pt': 'Portuguese',\n    'ko': 'Korean',\n    'zh': 'Chinese'\n};\n\n\nfunction setupPage(){\n    $('#id_hello').hide();\n    $('#id_form').submit(onSubmitClicked);\n    enterbutton();\n}\n\nfunction langLookup(isocode) {\n    return (LANGUAGES[isocode] ? LANGUAGES[isocode] : isocode);\n}\n\nfunction processOK(response) {\n    console.log(response);\n    if (response.identifyresponse){\n        $('#id_textlang').text(langLookup(response.identifyresponse)); \n    } else {\n        $('#id_textlang').text('No response received from service');\n    }\n}\n\nfunction processNotOK() {\n    console.log('Error Processing');\n    $('#id_textlang').text('Oops something went wrong');\n}            \n\nfunction invokeAjax(message) {\n    console.log('AJAX about to be invoked.');\n    console.log(message);\n    var ajaxData = {};\n    ajaxData.msgdata = message;\n    $.ajax({\n        type: 'POST',\n        url: 'langidentify',\n        data: ajaxData,\n        success: processOK,\n        error: processNotOK\n});\n\n}\n\nfunction onSubmitClicked(event){\n    $('#id_hello').show();\n    event.preventDefault();\n    var txt = $('#id_text').val();\n    invokeAjax(txt);\n}\n\nfunction enterbutton(){\n    $(function() {\n    $(\"form input\").keypress(function (e) {\n    if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n        $('#id_enter').click();\n        return false;\n    } else {\n        return true;\n    }\n});\n});\n}\n</script>        \n</body>\n</html>","x":371.5,"y":315,"wires":[["a03e4325.ea6a4"]]},{"id":"288c3449.51406c","type":"http in","z":"7809db53.f0bfe4","name":"HTTP REST Identify Language","url":"/langidentify","method":"post","swaggerDoc":"","x":155.5,"y":385,"wires":[["6c7c5f6e.4e82a"]]},{"id":"13f81f6f.8f2b41","type":"http response","z":"7809db53.f0bfe4","name":"","x":827.5000095367432,"y":397.7500057220459,"wires":[]},{"id":"b43c0c79.22776","type":"function","z":"7809db53.f0bfe4","name":"Process Output","func":"msg.payload = {};\nmsg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language){\n    msg.payload.identifyresponse = msg.lang.language;\n}\nreturn msg;","outputs":1,"noerr":0,"x":651.5,"y":484,"wires":[["13f81f6f.8f2b41"]]},{"id":"6c7c5f6e.4e82a","type":"function","z":"7809db53.f0bfe4","name":"Extract Input","func":"msg.payload = msg.req.body.msgdata;\nreturn msg;","outputs":1,"noerr":0,"x":238.5,"y":493,"wires":[["84e31cc7.a3afe"]]},{"id":"84e31cc7.a3afe","type":"watson-language-translator-identify","z":"7809db53.f0bfe4","name":"","x":411.5,"y":434,"wires":[["b43c0c79.22776","f4a9a843.4ee068"]]},{"id":"f4a9a843.4ee068","type":"debug","z":"7809db53.f0bfe4","name":"","active":true,"console":"false","complete":"lang","x":556.7857131958008,"y":555.8571500778198,"wires":[]},{"id":"b2fc797b.c64768","type":"microphone","z":"30143259.52db0e","name":"","x":191.5,"y":166,"wires":[["bed13b4b.5159c8"]]},{"id":"b0e5dfdf.941e4","type":"delay","z":"30143259.52db0e","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":245.5,"y":414,"wires":[[]]},{"id":"cfe07423.20dce8","type":"play audio","z":"30143259.52db0e","name":"","x":814.5,"y":288,"wires":[]},{"id":"bed13b4b.5159c8","type":"watson-speech-to-text","z":"30143259.52db0e","name":"","continuous":true,"speakerlabels":true,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"","x":313.5,"y":60,"wires":[["f20e5bf.ae79ca8"]]},{"id":"88fda5d8.99f168","type":"watson-text-to-speech","z":"30143259.52db0e","name":"","lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"es-ES_LauraVoice","voicehidden":"","format":"audio/wav","password":"","x":477.5,"y":242,"wires":[["cda72951.265e48"]]},{"id":"7929249d.29697c","type":"watson-translator","z":"30143259.52db0e","name":"","action":"translate","basemodel":"ar-en","domain":"conversational","srclang":"en","destlang":"es","password":"","custom":"","domainhidden":"conversational","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":257.5,"y":281,"wires":[["88fda5d8.99f168"]]},{"id":"f20e5bf.ae79ca8","type":"function","z":"30143259.52db0e","name":"","func":"msg.payload = msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"x":494.5,"y":72,"wires":[["7929249d.29697c"]]},{"id":"cda72951.265e48","type":"function","z":"30143259.52db0e","name":"","func":"msg.payload = msg.speech\nreturn msg;","outputs":1,"noerr":0,"x":632.5,"y":147,"wires":[["cfe07423.20dce8"]]},{"id":"8f122398.ef4d","type":"inject","z":"1ae3447e.ee8ffc","name":"Goodbye Inject","topic":"","payload":"It's time for me to go now, goodbye","payloadType":"str","repeat":"","crontab":"","once":false,"x":183.25000381469727,"y":435.7500057220459,"wires":[["5e28765b.19c848"]]},{"id":"3b820707.26a0a8","type":"link in","z":"1ae3447e.ee8ffc","name":"Translate Input","links":["4a363b9c.9f3f34","5e28765b.19c848","e7bc6676.9c36a8"],"x":123.5,"y":230,"wires":[["48b48c9e.933bd4"]]},{"id":"e7bc6676.9c36a8","type":"link out","z":"1ae3447e.ee8ffc","name":"Hello Inject","links":["3b820707.26a0a8"],"x":301.5,"y":83,"wires":[]},{"id":"5e28765b.19c848","type":"link out","z":"1ae3447e.ee8ffc","name":"GoodBye Inject","links":["3b820707.26a0a8"],"x":324.5,"y":446,"wires":[]},{"id":"a752bd19.bedfe","type":"function","z":"1ae3447e.ee8ffc","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":483.5,"y":232,"wires":[["76ac066.73dacf8"]]},{"id":"bc03aced.fd57","type":"twitter out","z":"4eea5c48.d83d74","twitter":"316f1abc.b195a6","name":"Tweet","x":1069.7731323242188,"y":1169.4930419921875,"wires":[]},{"id":"f4952645.a61478","type":"inject","z":"4eea5c48.d83d74","name":"demos","topic":"","payload":"Do you have any demos?","payloadType":"str","repeat":"","crontab":"","once":false,"x":158.85646057128906,"y":1481.5764660835266,"wires":[["4a363b9c.9f3f34"]]},{"id":"148db23d.96e93e","type":"watson-conversation-v1","z":"4eea5c48.d83d74","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":631.7731132507324,"y":1248.5764350891113,"wires":[["9f7dbc86.d08fb","e6263cb7.3db8c"]]},{"id":"53ecac63.893964","type":"watson-speech-to-text","z":"4eea5c48.d83d74","name":"","continuous":true,"speakerlabels":false,"lang":"en-US","langhidden":"en-US","langcustomhidden":"","band":"BroadbandModel","bandhidden":"","password":"","x":138.0231170654297,"y":1318.826416015625,"wires":[["5650243f.20bd6c"]]},{"id":"cf7480d7.aa14e","type":"watson-text-to-speech","z":"4eea5c48.d83d74","name":"","lang":"en-GB","langhidden":"en-GB","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"","x":1137.8445091247559,"y":1271.1240882873535,"wires":[["308f8dcb.0b6992"]]},{"id":"5650243f.20bd6c","type":"function","z":"4eea5c48.d83d74","name":"set payload","func":"msg.payload = msg.transcription;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":286.02312088012695,"y":1250.826413154602,"wires":[["f149e3c7.3d4fe"]]},{"id":"308f8dcb.0b6992","type":"function","z":"4eea5c48.d83d74","name":"set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1332.4398384094238,"y":1195.4098091125488,"wires":[["13a6dc49.19dc54"]]},{"id":"13a6dc49.19dc54","type":"play audio","z":"4eea5c48.d83d74","name":"","x":1401.7731685638428,"y":1277.9097843170166,"wires":[]},{"id":"5d517d50.0f2314","type":"inject","z":"4eea5c48.d83d74","name":"","topic":"","payload":"Set user details","payloadType":"str","repeat":"","crontab":"","once":false,"x":113.02311706542969,"y":1062.5764408111572,"wires":[["91442d78.98685"]]},{"id":"4093b73.17b9848","type":"watson-conversation-v1","z":"4eea5c48.d83d74","name":"","workspaceid":"4169c453-9374-4925-ab31-cd12b1dcf003","multiuser":true,"context":true,"x":588.1064395904541,"y":1985.576509475708,"wires":[["bec1316d.07f4b"]]},{"id":"3b02b54.7e6b04a","type":"inject","z":"4eea5c48.d83d74","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":179.1064395904541,"y":1903.576509475708,"wires":[["e70f7791.bc1ea8"]]},{"id":"d9db5c4b.43ec4","type":"inject","z":"4eea5c48.d83d74","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":179.6064395904541,"y":1940.576509475708,"wires":[["e70f7791.bc1ea8"]]},{"id":"e70f7791.bc1ea8","type":"function","z":"4eea5c48.d83d74","name":"set user 1","func":"msg.user = '1';\n\nreturn msg;","outputs":1,"noerr":0,"x":350.6064395904541,"y":1939.576509475708,"wires":[["4093b73.17b9848"]]},{"id":"a55000eb.d729","type":"inject","z":"4eea5c48.d83d74","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":178.1064395904541,"y":2024.576509475708,"wires":[["469fc99f.e22388"]]},{"id":"3baf1d08.214df2","type":"inject","z":"4eea5c48.d83d74","name":"","topic":"","payload":"cics","payloadType":"str","repeat":"","crontab":"","once":false,"x":178.6064395904541,"y":2060.576509475708,"wires":[["469fc99f.e22388"]]},{"id":"469fc99f.e22388","type":"function","z":"4eea5c48.d83d74","name":"set user 2","func":"msg.user = '2';\n\nreturn msg;","outputs":1,"noerr":0,"x":349.6064395904541,"y":2059.576509475708,"wires":[["4093b73.17b9848"]]},{"id":"bec1316d.07f4b","type":"debug","z":"4eea5c48.d83d74","name":"","active":true,"console":"false","complete":"payload.output.text","x":807.1064395904541,"y":1985.576509475708,"wires":[]},{"id":"ddef7d2.2b6418","type":"inject","z":"4eea5c48.d83d74","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":355.1064395904541,"y":1806.576509475708,"wires":[["4093b73.17b9848"]]},{"id":"8df0cd7c.bd133","type":"inject","z":"4eea5c48.d83d74","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":355.1064395904541,"y":1842.576509475708,"wires":[["4093b73.17b9848"]]},{"id":"66aa4427.4489bc","type":"inject","z":"4eea5c48.d83d74","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":226.6064395904541,"y":2154.576509475708,"wires":[["b7893851.b9c048"]]},{"id":"b7893851.b9c048","type":"function","z":"4eea5c48.d83d74","name":"reset context","func":"msg.params = {\n    context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":371.6064395904541,"y":2154.576509475708,"wires":[["4093b73.17b9848"]]},{"id":"5486efce.86ac6","type":"inject","z":"4eea5c48.d83d74","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":179.6064395904541,"y":1976.576509475708,"wires":[["e70f7791.bc1ea8"]]},{"id":"aab95615.91b328","type":"inject","z":"4eea5c48.d83d74","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":178.1064395904541,"y":2096.576509475708,"wires":[["469fc99f.e22388"]]},{"id":"c9fc54ba.0905d8","type":"inject","z":"4eea5c48.d83d74","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":355.1064395904541,"y":1878.576509475708,"wires":[["4093b73.17b9848"]]},{"id":"27d5e54.899801a","type":"microphone","z":"4eea5c48.d83d74","name":"","x":111.27312088012695,"y":1202.576410293579,"wires":[["53ecac63.893964"]]},{"id":"e5cc78d5.037fd8","type":"inject","z":"4eea5c48.d83d74","name":"","topic":"","payload":"reset context","payloadType":"str","repeat":"","crontab":"","once":false,"x":104.02311706542969,"y":1027.2430973052979,"wires":[["b25eb069.19231"]]},{"id":"b25eb069.19231","type":"function","z":"4eea5c48.d83d74","name":"reset context","func":"msg.params = {\n    context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":276.0231170654297,"y":1027.2431049346924,"wires":[["952b2abc.57e578"]]},{"id":"91442d78.98685","type":"function","z":"4eea5c48.d83d74","name":"add context","func":"msg.additional_context = {\n    twitter: {\n    handle: \"a_twitter_handle_without_the_at_symbol\",\n    dm: false\n}}\nreturn msg;","outputs":1,"noerr":0,"x":275.8564147949219,"y":1062.243127822876,"wires":[["952b2abc.57e578"]]},{"id":"9f7dbc86.d08fb","type":"function","z":"4eea5c48.d83d74","name":"set payload and tweet","func":"/*output=msg.payload;\nmsg.payload = {};\nmsg.payload.output = {text: [output]}\nmsg.payload.context={twitter: {handle:\"@HiHuman3\",DM:true}}\nnode.warn(msg.payload.context);\n*/\nnode.warn(\"Conversation output is:\\n\" + JSON.stringify(msg.payload))\n\nif (msg.payload.output && msg.payload.output.text) {\n    output = msg.payload.output.text.join(' ');\n    if (output && output.indexOf(\"|tweet:\") > -1) {\n        node.warn(\"tweeting\");\n        if (\n            msg.payload.context.twitter &&\n            msg.payload.context.twitter.handle \n            ) {\n            \n            // extract text and url to tweet and clean up strings\n            var tweet = output.split('|')\n                .filter(function (c){\n                    return c.indexOf(\"tweet:\") > -1 ;\n                }).join(', ').replace(\"tweet:\", '');\n            var url = output.split('|')\n                .filter(function (c){\n                    return c.indexOf(\"link:\") > -1 ;\n                }).join(', ').replace(\"link:\", '');\n            \n            // dm switch\n            var dmswitch = '';\n            if (msg.payload.context.twitter.dm && msg.payload.context.twitter.dm === true){\n                dmswitch = \"DM \";\n            }\n            // construct tweet\n            tweet = dmswitch + \"@\" + msg.payload.context.twitter.handle + \" \" + tweet + \" \" + url;\n            \n            msg.payload = tweet;\n            node.warn(\"Sending string to twitter node: \\n\" + tweet)\n            node.send([msg,null]);\n            \n        } else {node.error(\"no twitter details\");}\n    } else {\n        node.warn(\"no tweet requested\");\n    }\n    output = output.split('|')\n    .filter(function(c) {\n        return c.indexOf(\"tweet:\") === -1 && c.indexOf(\"link:\") === -1;\n    }).join(' ');\n} else {\n    output = 'No response';\n}\n\nnode.warn(\"Cleaned conversation output: \\n\" + output)\nmsg.payload = output;\nnode.send([null,msg]);","outputs":"2","noerr":0,"x":841.9397583007812,"y":1218.2430419921875,"wires":[["bc03aced.fd57"],["a195b8d6.2ca1a8"]]},{"id":"f149e3c7.3d4fe","type":"link out","z":"4eea5c48.d83d74","name":"gototone","links":["91d096b3.474fa8"],"x":359.576171875,"y":1347.076416015625,"wires":[]},{"id":"375a0e37.c0eb82","type":"link in","z":"4eea5c48.d83d74","name":"convIn","links":["4a363b9c.9f3f34","952b2abc.57e578","2767ad89.03f982","e9cf76ae.1d2448"],"x":504.439857006073,"y":1299.6598091125488,"wires":[["148db23d.96e93e","58b40fa9.f09e3"]]},{"id":"6af7c24b.d9a89c","type":"inject","z":"4eea5c48.d83d74","name":"Hi","topic":"","payload":"switch","payloadType":"str","repeat":"","crontab":"","once":false,"x":158.0231170654297,"y":1443.99312210083,"wires":[["4a363b9c.9f3f34"]]},{"id":"ebb07844.a71488","type":"inject","z":"4eea5c48.d83d74","name":"Angry feedback","topic":"","payload":"it's really horrendous how badly these nodes are documented - There is absolutely no way any body can follow that! Infuriating!","payloadType":"str","repeat":"","crontab":"","once":false,"x":130.2731170654297,"y":1517.4931230545044,"wires":[["4a363b9c.9f3f34"]]},{"id":"5a71843e.5f96dc","type":"inject","z":"4eea5c48.d83d74","name":"Happy feedback","topic":"","payload":"These new nodes are awesome! I love the way they are used in the new flows!","payloadType":"str","repeat":"","crontab":"","once":false,"x":129.7731170654297,"y":1553.2431240081787,"wires":[["4a363b9c.9f3f34"]]},{"id":"91d096b3.474fa8","type":"link in","z":"4eea5c48.d83d74","name":"","links":["f149e3c7.3d4fe","4a363b9c.9f3f34"],"x":528.7500066757202,"y":1629.502402305603,"wires":[["e82f1698.d54308","765e48f2.042028"]]},{"id":"e82f1698.d54308","type":"debug","z":"4eea5c48.d83d74","name":"","active":true,"console":"false","complete":"false","x":656.2500076293945,"y":1586.1690883636475,"wires":[]},{"id":"e9cf76ae.1d2448","type":"link out","z":"4eea5c48.d83d74","name":"","links":["375a0e37.c0eb82"],"x":1032.0000190734863,"y":1626.3357753753662,"wires":[]},{"id":"765e48f2.042028","type":"watson-tone-analyzer-v3","z":"4eea5c48.d83d74","name":"","tones":"emotion","sentences":"false","contentType":"false","x":663.5000076293945,"y":1626.0857458114624,"wires":[["13cd04cb.bf9a9b"]]},{"id":"13cd04cb.bf9a9b","type":"function","z":"4eea5c48.d83d74","name":"add emotion to context","func":"var emotions = [];\nvar threshold = 0.5;\nvar topemotion ='';\n\n// simplify object returned by tone analyser to only the emotion tones\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n\nnode.warn(\"Detected tones: \\n\" + JSON.stringify(emotions));\n\n// find highest score and return that tone name, if that score is greater than the threshold\ntopemotion = emotions.reduce(function(a, b){ return a.score > b.score ? a : b; });\n\nif (topemotion.score > threshold) {\n    topemotion = topemotion.tone_name;\n} else {\n    topemotion = \"neutral\";\n}\n\n\n// add top emotion to conversation context\nmsg.additional_context = { emotion: topemotion };\n\nnode.warn(\"Emotion added to conversation context:\\n   \" +  topemotion);    \n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":878.083324432373,"y":1627.002402305603,"wires":[["e9cf76ae.1d2448"]]},{"id":"4a363b9c.9f3f34","type":"link out","z":"4eea5c48.d83d74","name":"frommaninputs","links":["375a0e37.c0eb82","91d096b3.474fa8","3b820707.26a0a8"],"x":324.7400140762329,"y":1494.8843040466309,"wires":[]},{"id":"952b2abc.57e578","type":"link out","z":"4eea5c48.d83d74","name":"adminout","links":["375a0e37.c0eb82"],"x":395.4670042991638,"y":1044.8385372161865,"wires":[]},{"id":"1f4b07af.d47038","type":"comment","z":"4eea5c48.d83d74","name":"config","info":"","x":57.175750732421875,"y":987,"wires":[]},{"id":"c191ee8b.19e5b","type":"comment","z":"4eea5c48.d83d74","name":"speech in","info":"","x":67.50000381469727,"y":1167.1111936569214,"wires":[]},{"id":"fb3ef54b.bfa568","type":"comment","z":"4eea5c48.d83d74","name":"test txt in","info":"","x":65,"y":1404.6112575531006,"wires":[]},{"id":"ed2526e2.8ccc68","type":"comment","z":"4eea5c48.d83d74","name":"tone analyser","info":"","x":568.7500152587891,"y":1402.1112337112427,"wires":[]},{"id":"7cf6550f.5c84ac","type":"comment","z":"4eea5c48.d83d74","name":"conversations call and output","info":"","x":613.7500419616699,"y":1173.361192703247,"wires":[]},{"id":"e6263cb7.3db8c","type":"debug","z":"4eea5c48.d83d74","name":"","active":true,"console":"false","complete":"payload","x":815.5,"y":1314,"wires":[]},{"id":"58b40fa9.f09e3","type":"debug","z":"4eea5c48.d83d74","name":"","active":true,"console":"false","complete":"payload","x":609.5,"y":1350,"wires":[]},{"id":"d55f42c2.e1acb","type":"http in","z":"3335e224.0000ce","name":"Messenger Verification Webhook","url":"/chatbot","method":"get","swaggerDoc":"","x":147.5,"y":274,"wires":[["ce293de0.6f281","89bc05d.88fb3f8"]]},{"id":"89bc05d.88fb3f8","type":"function","z":"3335e224.0000ce","name":"","func":"var mode='';\nvar vtoken='';\nvar challenge='';\nif(msg.payload['hub.mode']){\n    mode = msg.payload['hub.mode'];\n}\nif(msg.payload['hub.verify_token']){\n    vtoken = msg.payload['hub.verify_token'];\n}\n\nif(msg.payload['hub.challenge']){\n    challenge = msg.payload['hub.challenge'];\n}\n\nif('subscribe'== mode && 'somelongstringnobodyisevergoingtoguess' == vtoken){\n    msg.payload = challenge;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":377.5,"y":255,"wires":[["e781eb6f.bc3928"]]},{"id":"e781eb6f.bc3928","type":"http response","z":"3335e224.0000ce","name":"","x":616.5,"y":252,"wires":[]},{"id":"ce293de0.6f281","type":"debug","z":"3335e224.0000ce","name":"","active":true,"console":"false","complete":"payload","x":297.5,"y":108,"wires":[]},{"id":"6d8d652e.8aec2c","type":"http in","z":"3335e224.0000ce","name":"Messenger Chat Listener","url":"/chatbot","method":"post","swaggerDoc":"","x":140.5,"y":471,"wires":[["881c9a55.b0ce98","f61cd754.1cc918"]]},{"id":"f61cd754.1cc918","type":"function","z":"3335e224.0000ce","name":"","func":"if (msg.payload.object && 'page' == msg.payload.object) {\n    if (msg.payload.entry){     \n        var entry = msg.payload.entry;\n        for (var i = 0; i < entry.length; i++) {\n            var pageID = entry[i].id;\n            var timeOfEvent = entry[i].time; \n            var messaging = entry[i].messaging\n            for (var j =0; j < messaging.length; j++) {\n                if (messaging[j].message) {\n                    msg.messagingEvent = messaging[j];\n                    node.send([msg,null]); \n                }               \n            }\n        }\n    }\n}\nreturn [null,msg];","outputs":"2","noerr":0,"x":398.5,"y":473,"wires":[["b4061fa2.dcf9b"],["c09735e9.a3ade8","f5f76f31.6a74b"]]},{"id":"b4061fa2.dcf9b","type":"http response","z":"3335e224.0000ce","name":"","x":620.5,"y":396,"wires":[]},{"id":"881c9a55.b0ce98","type":"debug","z":"3335e224.0000ce","name":"","active":true,"console":"false","complete":"false","x":332.5,"y":378,"wires":[]},{"id":"c09735e9.a3ade8","type":"debug","z":"3335e224.0000ce","name":"","active":true,"console":"false","complete":"messagingEvent","x":596.5,"y":566,"wires":[]},{"id":"7ac70578.57e86c","type":"facebook-messenger-writer","z":"3335e224.0000ce","name":"","x":788.5,"y":318,"wires":[["f68ada48.4b4a98"]]},{"id":"545006d7.8baf48","type":"function","z":"3335e224.0000ce","name":"","func":"msg.facebookevent = msg.messagingEvent;\nreturn msg;","outputs":1,"noerr":0,"x":517.5,"y":343,"wires":[["7ac70578.57e86c"]]},{"id":"f68ada48.4b4a98","type":"debug","z":"3335e224.0000ce","name":"","active":true,"console":"false","complete":"payload","x":918.5,"y":171,"wires":[]},{"id":"f5f76f31.6a74b","type":"function","z":"3335e224.0000ce","name":"","func":"msg.fromMessenger = true;\nmsg.payload = msg.messagingEvent.message.text;\nreturn msg;","outputs":1,"noerr":0,"x":467.5,"y":651,"wires":[["2767ad89.03f982"]]},{"id":"2767ad89.03f982","type":"link out","z":"3335e224.0000ce","name":"","links":["f7869fcd.13c04","375a0e37.c0eb82"],"x":691.5,"y":668,"wires":[]},{"id":"a195b8d6.2ca1a8","type":"function","z":"4eea5c48.d83d74","name":"","func":"if(msg.fromMessenger){\n    return [msg,msg];\n} else {\n    return [msg, null];\n}","outputs":1,"noerr":0,"x":994.5,"y":1381,"wires":[["cf7480d7.aa14e","838ff3e7.a9523"]]},{"id":"838ff3e7.a9523","type":"link out","z":"4eea5c48.d83d74","name":"conversation out for Messenger 7bdRightOne","links":[],"x":1150.5,"y":1404,"wires":[]},{"id":"7b2bbb4.4011244","type":"link in","z":"3335e224.0000ce","name":"","links":["4632c40c.58904c"],"x":355.5,"y":327,"wires":[["545006d7.8baf48"]]},{"id":"bba450f.88f1db","type":"http in","z":"47a1b4be.d97b5c","name":"","url":"/tele","method":"get","swaggerDoc":"","x":193.5,"y":176,"wires":[["94fa791f.a19368"]]},{"id":"94fa791f.a19368","type":"http request","z":"47a1b4be.d97b5c","name":"","method":"GET","ret":"txt","url":"https://raw.githubusercontent.com/ibm-early-programs/watson-tv/master/tv.html","tls":"","x":439.5,"y":166,"wires":[["af5b33a2.979bc"]]},{"id":"f62e436b.cad6e","type":"http response","z":"47a1b4be.d97b5c","name":"","x":644.5,"y":351,"wires":[]},{"id":"af5b33a2.979bc","type":"function","z":"47a1b4be.d97b5c","name":"","func":"msg.headers = {'Content-Type':'text/html'}\nreturn msg;","outputs":1,"noerr":0,"x":528.5,"y":246,"wires":[["f62e436b.cad6e"]]},{"id":"d068de08.b1fc1","type":"http in","z":"47a1b4be.d97b5c","name":"","url":"/tv","method":"get","swaggerDoc":"","x":191,"y":426,"wires":[["e7f17e72.2257"]]},{"id":"d0ad3fdc.7a287","type":"http response","z":"47a1b4be.d97b5c","name":"","x":685,"y":426,"wires":[]},{"id":"e7f17e72.2257","type":"http request","z":"47a1b4be.d97b5c","name":"","method":"GET","ret":"txt","url":"https://raw.githubusercontent.com/ibm-early-programs/watson-tv/master/tv.html","tls":"","x":334.5,"y":426,"wires":[["c070cd07.a4bfa"]]},{"id":"e1b9da96.598368","type":"watson-speech-to-text","z":"47a1b4be.d97b5c","name":"","continuous":true,"lang":"en-US","langhidden":"en-US","band":"BroadbandModel","bandhidden":"","password":"","x":841,"y":709,"wires":[["efebda11.13f628"]]},{"id":"efebda11.13f628","type":"change","z":"47a1b4be.d97b5c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1022,"y":709,"wires":[["af0b4485.019428"]]},{"id":"559757a6.2f1508","type":"link in","z":"47a1b4be.d97b5c","name":"","links":["af0b4485.019428"],"x":408,"y":758,"wires":[["5b2969.44fc9698"]]},{"id":"af0b4485.019428","type":"link out","z":"47a1b4be.d97b5c","name":"","links":["559757a6.2f1508"],"x":1145,"y":709,"wires":[]},{"id":"abdb41d3.1502f","type":"debug","z":"47a1b4be.d97b5c","name":"","active":false,"console":"false","complete":"false","x":951,"y":758,"wires":[]},{"id":"a63a677b.e3ead8","type":"function","z":"47a1b4be.d97b5c","name":"append to global","func":"var translation = [];\n\nif (global.get(\"translation\")) {\n    translation = global.get(\"translation\");\n}\n\ntranslation.push({\n    text: msg.payload,\n    start: msg.timesplit[0],\n    end: msg.timesplit[1]\n});\n\nglobal.set(\"translation\", translation); \nreturn msg;","outputs":1,"noerr":0,"x":766,"y":758,"wires":[["abdb41d3.1502f"]]},{"id":"efb212f4.12615","type":"http in","z":"47a1b4be.d97b5c","name":"","url":"/translation","method":"get","swaggerDoc":"","x":220,"y":504,"wires":[["713f1bb9.6617f4"]]},{"id":"4375b808.134b78","type":"http response","z":"47a1b4be.d97b5c","name":"","x":694,"y":551,"wires":[]},{"id":"713f1bb9.6617f4","type":"change","z":"47a1b4be.d97b5c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"translation","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":406,"y":504,"wires":[["4375b808.134b78","1ae36b18.deb3c5"]]},{"id":"b5d7f0f5.7985f","type":"http response","z":"47a1b4be.d97b5c","name":"","x":561,"y":576,"wires":[]},{"id":"6b3beb63.109c14","type":"http in","z":"47a1b4be.d97b5c","name":"","url":"/translate","method":"post","swaggerDoc":"","x":220,"y":584,"wires":[["adc02066.7d569"]]},{"id":"adc02066.7d569","type":"change","z":"47a1b4be.d97b5c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":399,"y":584,"wires":[["b5d7f0f5.7985f","51784584.eab95c","1f54ebe4.ff7ea4"]]},{"id":"c070cd07.a4bfa","type":"change","z":"47a1b4be.d97b5c","name":"","rules":[{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":518.5,"y":426,"wires":[["d0ad3fdc.7a287"]]},{"id":"1f54ebe4.ff7ea4","type":"ffmpeg-conversion","z":"47a1b4be.d97b5c","name":"","format":"wav","x":335,"y":671,"wires":[["57a2d607.a99088"]]},{"id":"57a2d607.a99088","type":"ffmpeg-silence-detect","z":"47a1b4be.d97b5c","name":"","noise":0.008,"duration":0.8,"x":592,"y":667,"wires":[["9646290f.de1dd8"]]},{"id":"697a8598.42723c","type":"ffmpeg-segment","z":"47a1b4be.d97b5c","name":"","timeout":true,"x":661.5,"y":709,"wires":[["e1b9da96.598368"]]},{"id":"9646290f.de1dd8","type":"function","z":"47a1b4be.d97b5c","name":"average","func":"msg.times = [];\n\nfor (var i = 0; i < msg.silences.length; ++i) {\n    var s = msg.silences[i];\n    msg.times.push((s[1] - s[0]) / 2 + s[0]);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":499.5,"y":709,"wires":[["697a8598.42723c"]]},{"id":"938afb09.65ddc8","type":"comment","z":"47a1b4be.d97b5c","name":"Get UI from Github","info":"","x":230.5,"y":388,"wires":[]},{"id":"88a8c349.3860a","type":"comment","z":"47a1b4be.d97b5c","name":"Get global context for latest translations","info":"","x":289.5,"y":466,"wires":[]},{"id":"175d2c3e.c22b14","type":"comment","z":"47a1b4be.d97b5c","name":"UI posts URL to perform ffmpeg functions","info":"","x":300,"y":546,"wires":[]},{"id":"1ae36b18.deb3c5","type":"debug","z":"47a1b4be.d97b5c","name":"Translation Set","active":true,"console":"false","complete":"payload","x":769.5,"y":485,"wires":[]},{"id":"51784584.eab95c","type":"debug","z":"47a1b4be.d97b5c","name":"Translation Requested","active":true,"console":"false","complete":"payload","x":618.5,"y":626,"wires":[]},{"id":"5b2969.44fc9698","type":"watson-translator","z":"47a1b4be.d97b5c","name":"","action":"translate","basemodel":"ar-en","domain":"conversational","srclang":"pt","destlang":"en","password":"","custom":"","domainhidden":"conversational","srclanghidden":"pt","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":556.5,"y":771,"wires":[["a63a677b.e3ead8"]]},{"id":"5ea54a97.9ff614","type":"watson-language-translator-identify","z":"7809db53.f0bfe4","name":"","x":358.85716247558594,"y":746.2857666015625,"wires":[["7c53f838.b38cc8"]]},{"id":"7c53f838.b38cc8","type":"function","z":"7809db53.f0bfe4","name":"Process Output","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language){\n    msg.payload.identifyresponse = msg.lang.language;\n}\nreturn msg;","outputs":1,"noerr":0,"x":577.1428985595703,"y":692.8572177886963,"wires":[["c876c441.3174b8","b123b868.2fbf18","b5860fa9.0f2c1","13de97.8e3c3169","94ffc49a.41c3c8","d954ba0.781dd48","9964211b.829e4","3301fe63.72f4e2"]]},{"id":"a1c9b4f5.f7ee28","type":"watson-translator","z":"7809db53.f0bfe4","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"es","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"es","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1005.2540092468262,"y":690.5397663116455,"wires":[["a4ea479a.e802f8"]]},{"id":"c876c441.3174b8","type":"function","z":"7809db53.f0bfe4","name":"Spanish","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language == \"es\"){\n    //msg.payload.identifyresponse = msg.lang.language;\n    //msg = msg.payload;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":826.9999389648438,"y":690.8572387695312,"wires":[["a1c9b4f5.f7ee28"]]},{"id":"c1ac46bc.80b628","type":"watson-translator","z":"7809db53.f0bfe4","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"es","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1635.2542533874512,"y":744.3494606018066,"wires":[["b19b80ee.a81c1"]]},{"id":"a4ea479a.e802f8","type":"watson-conversation-v1","z":"7809db53.f0bfe4","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":1234.1428031921387,"y":689.4286398887634,"wires":[["3fc8420d.7cd51e"]]},{"id":"5c44a763.5cf0c8","type":"inject","z":"7809db53.f0bfe4","name":"Mientras","topic":"","payload":"Mientras","payloadType":"str","repeat":"","crontab":"","once":false,"x":106.42857142857142,"y":681.4285714285713,"wires":[["5ea54a97.9ff614"]]},{"id":"94aa00b8.61e3c","type":"inject","z":"7809db53.f0bfe4","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":146.28571319580078,"y":1144.28564453125,"wires":[["5ea54a97.9ff614"]]},{"id":"b19b80ee.a81c1","type":"function","z":"7809db53.f0bfe4","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1823.2142333984375,"y":725.21435546875,"wires":[["ec03e6a1.533a28","4632c40c.58904c"]]},{"id":"ec03e6a1.533a28","type":"debug","z":"7809db53.f0bfe4","name":"","active":true,"console":"false","complete":"translation","x":2033.4285888671875,"y":695.7857055664062,"wires":[]},{"id":"3fc8420d.7cd51e","type":"function","z":"7809db53.f0bfe4","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":1451.7321243286133,"y":743.8929090499878,"wires":[["c1ac46bc.80b628"]]},{"id":"b752f438.8def38","type":"watson-translator","z":"7809db53.f0bfe4","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"it","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"it","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1016,"y":799.9999814033508,"wires":[["46922dce.596204"]]},{"id":"b123b868.2fbf18","type":"function","z":"7809db53.f0bfe4","name":"Italian","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language == \"it\"){\n    //msg.payload.identifyresponse = msg.lang.language;\n    //msg = msg.payload;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":827.7459297180176,"y":800.3174538612366,"wires":[["b752f438.8def38"]]},{"id":"20d6fea7.47d862","type":"watson-translator","z":"7809db53.f0bfe4","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"it","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"it","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1646.000244140625,"y":853.809675693512,"wires":[["536214a9.a9dcec"]]},{"id":"46922dce.596204","type":"watson-conversation-v1","z":"7809db53.f0bfe4","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":1244.8887939453125,"y":798.8888549804688,"wires":[["28c7b29b.b2347e"]]},{"id":"536214a9.a9dcec","type":"function","z":"7809db53.f0bfe4","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1835.9602508544922,"y":850.6745781898499,"wires":[["351d765d.72083a","4632c40c.58904c"]]},{"id":"351d765d.72083a","type":"debug","z":"7809db53.f0bfe4","name":"","active":true,"console":"false","complete":"translation","x":2022.174560546875,"y":797.2459716796875,"wires":[]},{"id":"28c7b29b.b2347e","type":"function","z":"7809db53.f0bfe4","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":1462.478115081787,"y":853.3531241416931,"wires":[["20d6fea7.47d862"]]},{"id":"adff338b.427ee","type":"inject","z":"7809db53.f0bfe4","name":"Mella","topic":"","payload":"Mella","payloadType":"str","repeat":"","crontab":"","once":true,"x":84,"y":762,"wires":[["5ea54a97.9ff614"]]},{"id":"f5d70fe.11551f","type":"watson-translator","z":"7809db53.f0bfe4","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"fr","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"fr","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1003.9999809265137,"y":904.0000324249268,"wires":[["6d9ef150.5736"]]},{"id":"b5860fa9.0f2c1","type":"function","z":"7809db53.f0bfe4","name":"France","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language == \"fr\"){\n    //msg.payload.identifyresponse = msg.lang.language;\n    //msg = msg.payload;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":815.7459106445312,"y":904.3175048828125,"wires":[["f5d70fe.11551f"]]},{"id":"397f2e51.2c6a12","type":"watson-translator","z":"7809db53.f0bfe4","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"fr","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1634.0002250671387,"y":957.8097267150879,"wires":[["809347ab.db8f78"]]},{"id":"6d9ef150.5736","type":"watson-conversation-v1","z":"7809db53.f0bfe4","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":1232.8887748718262,"y":902.8889060020447,"wires":[["5786a568.2105ec"]]},{"id":"809347ab.db8f78","type":"function","z":"7809db53.f0bfe4","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1823.9602317810059,"y":954.6746292114258,"wires":[["935d7cf9.e9cc8","4632c40c.58904c"]]},{"id":"935d7cf9.e9cc8","type":"debug","z":"7809db53.f0bfe4","name":"","active":true,"console":"false","complete":"translation","x":2028.174560546875,"y":885.2459716796875,"wires":[]},{"id":"5786a568.2105ec","type":"function","z":"7809db53.f0bfe4","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":1450.4780960083008,"y":957.353175163269,"wires":[["397f2e51.2c6a12"]]},{"id":"56d1811d.07448","type":"inject","z":"7809db53.f0bfe4","name":"Bonjour","topic":"","payload":"Bonjour","payloadType":"str","repeat":"","crontab":"","once":true,"x":96,"y":852,"wires":[["5ea54a97.9ff614"]]},{"id":"e30c734b.413d7","type":"watson-translator","z":"7809db53.f0bfe4","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"de","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"de","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1054,"y":1004,"wires":[["31a0b67f.12e71a"]]},{"id":"13de97.8e3c3169","type":"function","z":"7809db53.f0bfe4","name":"German","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language == \"de\"){\n    //msg.payload.identifyresponse = msg.lang.language;\n    //msg = msg.payload;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":809.7459106445312,"y":1004.3175048828125,"wires":[["e30c734b.413d7"]]},{"id":"72ea674f.5283b8","type":"watson-translator","z":"7809db53.f0bfe4","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"de","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"de","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1684.000244140625,"y":1057.8096942901611,"wires":[["988099af.a259b8"]]},{"id":"31a0b67f.12e71a","type":"watson-conversation-v1","z":"7809db53.f0bfe4","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":1282.8887939453125,"y":1002.8888735771179,"wires":[["6d735f2.0a662a"]]},{"id":"988099af.a259b8","type":"function","z":"7809db53.f0bfe4","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1873.9602508544922,"y":1054.674596786499,"wires":[["870d21cf.04eee","4632c40c.58904c"]]},{"id":"870d21cf.04eee","type":"debug","z":"7809db53.f0bfe4","name":"","active":true,"console":"false","complete":"translation","x":2042.174560546875,"y":1001.2459716796875,"wires":[]},{"id":"6d735f2.0a662a","type":"function","z":"7809db53.f0bfe4","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":1500.478115081787,"y":1057.3531427383423,"wires":[["72ea674f.5283b8"]]},{"id":"6632a245.6a5cfc","type":"watson-translator","z":"7809db53.f0bfe4","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"pt","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"pt","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1035.9999732971191,"y":1118.0000095367432,"wires":[["30b4bfe5.0ecf9"]]},{"id":"94ffc49a.41c3c8","type":"function","z":"7809db53.f0bfe4","name":"Portuguese","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language == \"pt\"){\n    //msg.payload.identifyresponse = msg.lang.language;\n    //msg = msg.payload;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":801.7459106445312,"y":1126.3175048828125,"wires":[["6632a245.6a5cfc"]]},{"id":"cefb9947.c14758","type":"watson-translator","z":"7809db53.f0bfe4","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"pt","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"pt","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1666.0002174377441,"y":1171.8097038269043,"wires":[["3eab9515.0a07da"]]},{"id":"30b4bfe5.0ecf9","type":"watson-conversation-v1","z":"7809db53.f0bfe4","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":1264.8887672424316,"y":1116.888883113861,"wires":[["8ab761e4.bf1b8"]]},{"id":"3eab9515.0a07da","type":"function","z":"7809db53.f0bfe4","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1855.9602241516113,"y":1168.6746063232422,"wires":[["eb38053b.331e38","4632c40c.58904c"]]},{"id":"eb38053b.331e38","type":"debug","z":"7809db53.f0bfe4","name":"","active":true,"console":"false","complete":"translation","x":2048.174560546875,"y":1191.2459716796875,"wires":[]},{"id":"8ab761e4.bf1b8","type":"function","z":"7809db53.f0bfe4","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":1482.4780883789062,"y":1171.3531522750854,"wires":[["cefb9947.c14758"]]},{"id":"a6b9abf1.fa2c18","type":"inject","z":"7809db53.f0bfe4","name":"Trabalho","topic":"","payload":"Trabalho","payloadType":"str","repeat":"","crontab":"","once":true,"x":98,"y":952,"wires":[["5ea54a97.9ff614"]]},{"id":"972b0c90.8b66e","type":"inject","z":"7809db53.f0bfe4","name":"du hast","topic":"","payload":"du hast","payloadType":"str","repeat":"","crontab":"","once":true,"x":110,"y":1030,"wires":[["5ea54a97.9ff614"]]},{"id":"d954ba0.781dd48","type":"function","z":"7809db53.f0bfe4","name":"English","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language == \"en\"){\n    //msg.payload.identifyresponse = msg.lang.language;\n    //msg = msg.payload;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":791.7459106445312,"y":604.3174438476562,"wires":[["644e9c16.3f34f4"]]},{"id":"644e9c16.3f34f4","type":"watson-conversation-v1","z":"7809db53.f0bfe4","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":1014.8887939453125,"y":602.8888549804688,"wires":[["b5c52eb1.8bca8"]]},{"id":"5c6b27f8.e6a878","type":"debug","z":"7809db53.f0bfe4","name":"","active":true,"console":"false","complete":"payload","x":2198.174560546875,"y":491.2459716796875,"wires":[]},{"id":"b5c52eb1.8bca8","type":"function","z":"7809db53.f0bfe4","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":2094.4781494140625,"y":623.3531494140625,"wires":[["5c6b27f8.e6a878","4632c40c.58904c"]]},{"id":"f7869fcd.13c04","type":"link in","z":"7809db53.f0bfe4","name":"Polyglot","links":["2767ad89.03f982"],"x":122.99999999999997,"y":587.9999999999999,"wires":[["5ea54a97.9ff614"]]},{"id":"4632c40c.58904c","type":"link out","z":"7809db53.f0bfe4","name":"","links":["7b2bbb4.4011244"],"x":2358.9999999999995,"y":889.9999999999998,"wires":[]},{"id":"fdc9e25b.364fa","type":"watson-translator","z":"7809db53.f0bfe4","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"ko","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"ko","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1022,"y":1232,"wires":[["309851c9.6f981e"]]},{"id":"9964211b.829e4","type":"function","z":"7809db53.f0bfe4","name":"Korean","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language == \"ko\"){\n    //msg.payload.identifyresponse = msg.lang.language;\n    //msg = msg.payload;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":777.7459373474121,"y":1240.3174953460693,"wires":[["fdc9e25b.364fa"]]},{"id":"68783698.4f48c8","type":"watson-translator","z":"7809db53.f0bfe4","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"ko","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"ko","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1652.000244140625,"y":1285.8096942901611,"wires":[["f48488dd.3bd2f8"]]},{"id":"309851c9.6f981e","type":"watson-conversation-v1","z":"7809db53.f0bfe4","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":1250.8887939453125,"y":1230.888873577118,"wires":[["6537bbcd.41c054"]]},{"id":"f48488dd.3bd2f8","type":"function","z":"7809db53.f0bfe4","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1841.9602508544922,"y":1282.674596786499,"wires":[["95212e5a.822dc","4632c40c.58904c"]]},{"id":"95212e5a.822dc","type":"debug","z":"7809db53.f0bfe4","name":"","active":true,"console":"false","complete":"translation","x":2034.1745872497559,"y":1305.2459621429443,"wires":[]},{"id":"6537bbcd.41c054","type":"function","z":"7809db53.f0bfe4","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":1468.478115081787,"y":1285.3531427383423,"wires":[["68783698.4f48c8"]]},{"id":"e7f40bb2.e46b28","type":"watson-translator","z":"7809db53.f0bfe4","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"arz","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"arz","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1014,"y":1344,"wires":[["445c41e2.a82af"]]},{"id":"3301fe63.72f4e2","type":"function","z":"7809db53.f0bfe4","name":"Arabic","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language == \"ar\"){\n    //msg.payload.identifyresponse = msg.lang.language;\n    //msg = msg.payload;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":759.7459373474121,"y":1352.3174953460693,"wires":[["e7f40bb2.e46b28"]]},{"id":"a5f8a644.2d1cb8","type":"watson-translator","z":"7809db53.f0bfe4","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"arz","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"arz","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1644.000244140625,"y":1397.8096942901611,"wires":[["686b1988.94f608"]]},{"id":"445c41e2.a82af","type":"watson-conversation-v1","z":"7809db53.f0bfe4","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":1242.8887939453125,"y":1342.888873577118,"wires":[["5008fe71.db67c"]]},{"id":"686b1988.94f608","type":"function","z":"7809db53.f0bfe4","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1833.9602508544922,"y":1394.674596786499,"wires":[["efda565b.e40a18","4632c40c.58904c"]]},{"id":"efda565b.e40a18","type":"debug","z":"7809db53.f0bfe4","name":"","active":true,"console":"false","complete":"translation","x":2026.174560546875,"y":1433.2459716796875,"wires":[]},{"id":"5008fe71.db67c","type":"function","z":"7809db53.f0bfe4","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":1460.478115081787,"y":1397.3531427383423,"wires":[["a5f8a644.2d1cb8"]]},{"id":"fbe0950e.9814e8","type":"microphone","z":"30143259.52db0e","name":"","x":113,"y":604,"wires":[["4815a17a.b8f36"]]},{"id":"1f434ab.250cab5","type":"play audio","z":"30143259.52db0e","name":"","x":1281,"y":746,"wires":[]},{"id":"4815a17a.b8f36","type":"watson-speech-to-text","z":"30143259.52db0e","name":"","continuous":true,"speakerlabels":true,"lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"","x":320,"y":624,"wires":[["7977da00.ce7004"]]},{"id":"3be712d8.3f736e","type":"watson-text-to-speech","z":"30143259.52db0e","name":"","lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"es-ES_LauraVoice","voicehidden":"","format":"audio/wav","password":"","x":1006,"y":670,"wires":[["9afd2bac.d668c8"]]},{"id":"b3827f75.4a28f","type":"watson-translator","z":"30143259.52db0e","name":"","action":"translate","basemodel":"ar-en","domain":"conversational","srclang":"es","destlang":"en","password":"","custom":"","domainhidden":"conversational","srclanghidden":"es","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":676,"y":637,"wires":[["56077072.68734"]]},{"id":"7977da00.ce7004","type":"function","z":"30143259.52db0e","name":"","func":"msg.payload = msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"x":499,"y":610,"wires":[["b3827f75.4a28f"]]},{"id":"9afd2bac.d668c8","type":"function","z":"30143259.52db0e","name":"","func":"msg.payload = msg.speech\nreturn msg;","outputs":1,"noerr":0,"x":1185,"y":511,"wires":[["1f434ab.250cab5"]]},{"id":"ed5adc94.beaf1","type":"debug","z":"30143259.52db0e","name":"","active":true,"console":"false","complete":"translation","x":1078.2857856750488,"y":860,"wires":[]},{"id":"38ec54cd.570b3c","type":"function","z":"30143259.52db0e","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":868.0714302062988,"y":889.4286499023438,"wires":[["ed5adc94.beaf1","3be712d8.3f736e"]]},{"id":"9bf9f69f.1454f8","type":"watson-translator","z":"30143259.52db0e","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"es","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":680.1114501953125,"y":908.5637550354004,"wires":[["38ec54cd.570b3c"]]},{"id":"2cd5f078.358af","type":"function","z":"30143259.52db0e","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":736.5893249511719,"y":792.107177734375,"wires":[["9bf9f69f.1454f8"]]},{"id":"56077072.68734","type":"watson-conversation-v1","z":"30143259.52db0e","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":719,"y":709.6429443359375,"wires":[["2cd5f078.358af"]]},{"id":"785e0ebe.5f92b","type":"watson-conversation-v1","z":"4df511b2.b5cce","name":"","workspaceid":"03a34c21-8d23-4afc-b0f8-553c766cc82e","multiuser":false,"context":true,"x":490.5,"y":57,"wires":[["78b1c428.a1599c"]]},{"id":"63d26595.0c54dc","type":"debug","z":"4df511b2.b5cce","name":"","active":true,"console":"false","complete":"payload","x":262.5,"y":407,"wires":[]},{"id":"78b1c428.a1599c","type":"function","z":"4df511b2.b5cce","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":547.5,"y":271,"wires":[["97d2797f.ee5618","495054f9.8a841c"]]},{"id":"97d2797f.ee5618","type":"debug","z":"4df511b2.b5cce","name":"","active":true,"console":"false","complete":"false","x":655.5,"y":445,"wires":[]},{"id":"5b510aec.927e14","type":"twitter in","z":"4df511b2.b5cce","twitter":"d1f64a2d.cf87c8","tags":"#kleenbot, @HiHuman3","user":"false","name":"","topic":"tweets","inputs":1,"x":149.5,"y":84,"wires":[["63d26595.0c54dc","785e0ebe.5f92b"]]},{"id":"495054f9.8a841c","type":"twitter out","z":"4df511b2.b5cce","twitter":"316f1abc.b195a6","name":"Tweet","x":714.5,"y":159,"wires":[]}]