FlowsBackup/begginerHtml.json
[{"id":"fb70498a.ed87b8","type":"http in","z":"7b354ff7.50a86","name":"HTTP Hello World","url":"/hw","method":"get","swaggerDoc":"","x":158.5,"y":263,"wires":[["b4725006.a1995"]]},{"id":"bea457df.419d38","type":"http response","z":"7b354ff7.50a86","name":"","x":593.5,"y":240,"wires":[]},{"id":"b4725006.a1995","type":"template","z":"7b354ff7.50a86","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n<title>Hello World</title>\n</head>\n<body>\n    \n    <div>Hello to Watson on Node-RED</div>\n    \n    <div id=\"id_hello\"><span>I think you are typing text in:</span>\n            &nbsp;\n       <span id=\"id_textlang\"></span></div>\n    \n    <form id=\"id_form\">\n        <div>\n            <span>\n            Enter your text to be processed:\n            </span>\n            <span>\n                <input type=\"text\" name=\"name\" id=\"id_text\"/>\n            </span>\n        </div>\n        <div>\n            <input type=\"submit\" value=\"Enter\" id=\"id_enter\"/>\n        </div>\n    </form>   \n\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\">\n</script>\n\n<script type=\"text/javascript\">\n\n$(document).ready(function(){\n    setupPage();\n});\n\nvar LANGUAGES = { \n    'ar' : 'Arabic',\n    'en': 'English' ,\n    'es': 'Spanish',\n    'fr': 'French',\n    'it': 'Italian',\n    'de': 'German',\n    'pt': 'Portuguese',\n    'ko': 'Korean',\n    'zh': 'Chinese'\n};\n\n\nfunction setupPage(){\n    $('#id_hello').hide();\n    $('#id_form').submit(onSubmitClicked);\n    enterbutton();\n}\n\nfunction langLookup(isocode) {\n    return (LANGUAGES[isocode] ? LANGUAGES[isocode] : isocode);\n}\n\nfunction processOK(response) {\n    console.log(response);\n    if (response.identifyresponse){\n        $('#id_textlang').text(langLookup(response.identifyresponse)); \n    } else {\n        $('#id_textlang').text('No response received from service');\n    }\n}\n\nfunction processNotOK() {\n    console.log('Error Processing');\n    $('#id_textlang').text('Oops something went wrong');\n}            \n\nfunction invokeAjax(message) {\n    console.log('AJAX about to be invoked.');\n    console.log(message);\n    var ajaxData = {};\n    ajaxData.msgdata = message;\n    $.ajax({\n        type: 'POST',\n        url: 'langidentify',\n        data: ajaxData,\n        success: processOK,\n        error: processNotOK\n});\n\n}\n\nfunction onSubmitClicked(event){\n    $('#id_hello').show();\n    event.preventDefault();\n    var txt = $('#id_text').val();\n    invokeAjax(txt);\n}\n\nfunction enterbutton(){\n    $(function() {\n    $(\"form input\").keypress(function (e) {\n    if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n        $('#id_enter').click();\n        return false;\n    } else {\n        return true;\n    }\n});\n});\n}\n</script>        \n</body>\n</html>","x":371.5,"y":315,"wires":[["bea457df.419d38"]]},{"id":"47dfa063.18284","type":"http in","z":"7b354ff7.50a86","name":"HTTP REST Identify Language","url":"/langidentify","method":"post","swaggerDoc":"","x":155.5,"y":385,"wires":[["b67d0d22.cf25"]]},{"id":"a7e74635.f88178","type":"http response","z":"7b354ff7.50a86","name":"","x":827.5000095367432,"y":397.7500057220459,"wires":[]},{"id":"cb45f2de.9c0ce","type":"function","z":"7b354ff7.50a86","name":"Process Output","func":"msg.payload = {};\nmsg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language){\n    msg.payload.identifyresponse = msg.lang.language;\n}\nreturn msg;","outputs":1,"noerr":0,"x":651.5,"y":484,"wires":[["a7e74635.f88178"]]},{"id":"b67d0d22.cf25","type":"function","z":"7b354ff7.50a86","name":"Extract Input","func":"msg.payload = msg.req.body.msgdata;\nreturn msg;","outputs":1,"noerr":0,"x":238.5,"y":493,"wires":[["1bfaae64.c4aa52"]]},{"id":"1bfaae64.c4aa52","type":"watson-language-translator-identify","z":"7b354ff7.50a86","name":"","x":411.5,"y":434,"wires":[["cb45f2de.9c0ce","862c3543.b5fad8"]]},{"id":"862c3543.b5fad8","type":"debug","z":"7b354ff7.50a86","name":"","active":true,"console":"false","complete":"lang","x":556.7857131958008,"y":555.8571500778198,"wires":[]},{"id":"69915021.fe513","type":"watson-language-translator-identify","z":"7b354ff7.50a86","name":"","x":358.85716247558594,"y":746.2857666015625,"wires":[["336daf2a.816f9"]]},{"id":"336daf2a.816f9","type":"function","z":"7b354ff7.50a86","name":"Process Output","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language){\n    msg.payload.identifyresponse = msg.lang.language;\n}\nreturn msg;","outputs":1,"noerr":0,"x":577.1428985595703,"y":692.8572177886963,"wires":[["59dace2b.8b83b","a786575c.3ea4d8","69ac4bd9.e474e4","59527c3b.db25d4","5e9d682c.62f778","ebc34b37.342428","9589d50d.b2de38","ed403647.e259f8"]]},{"id":"b8956009.a2f38","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"es","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"es","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1005.2540092468262,"y":690.5397663116455,"wires":[["c127155c.252a78"]]},{"id":"59dace2b.8b83b","type":"function","z":"7b354ff7.50a86","name":"Spanish","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language == \"es\"){\n    //msg.payload.identifyresponse = msg.lang.language;\n    //msg = msg.payload;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":826.9999389648438,"y":690.8572387695312,"wires":[["b8956009.a2f38"]]},{"id":"aa112c59.b91c5","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"es","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1635.2542533874512,"y":744.3494606018066,"wires":[["436fb6e8.9613c8"]]},{"id":"c127155c.252a78","type":"watson-conversation-v1","z":"7b354ff7.50a86","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":1234.1428031921387,"y":689.4286398887634,"wires":[["20f86b3e.1d26d4"]]},{"id":"52b3887f.b3e6a8","type":"inject","z":"7b354ff7.50a86","name":"Mientras","topic":"","payload":"Mientras","payloadType":"str","repeat":"","crontab":"","once":false,"x":106.42857142857142,"y":681.4285714285713,"wires":[["69915021.fe513"]]},{"id":"3089ee8.e4a3c12","type":"inject","z":"7b354ff7.50a86","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":146.28571319580078,"y":1144.28564453125,"wires":[["69915021.fe513"]]},{"id":"436fb6e8.9613c8","type":"function","z":"7b354ff7.50a86","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1823.2142333984375,"y":725.21435546875,"wires":[["7e7e790.437ff88","1423bf9d.a6743"]]},{"id":"7e7e790.437ff88","type":"debug","z":"7b354ff7.50a86","name":"","active":true,"console":"false","complete":"translation","x":2033.4285888671875,"y":695.7857055664062,"wires":[]},{"id":"20f86b3e.1d26d4","type":"function","z":"7b354ff7.50a86","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":1451.7321243286133,"y":743.8929090499878,"wires":[["aa112c59.b91c5"]]},{"id":"76d7b2b6.cce35c","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"it","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"it","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1016,"y":799.9999814033508,"wires":[["6a7ab8b8.4a1ae8"]]},{"id":"a786575c.3ea4d8","type":"function","z":"7b354ff7.50a86","name":"Italian","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language == \"it\"){\n    //msg.payload.identifyresponse = msg.lang.language;\n    //msg = msg.payload;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":827.7459297180176,"y":800.3174538612366,"wires":[["76d7b2b6.cce35c"]]},{"id":"6f457c7c.3dee14","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"it","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"it","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1646.000244140625,"y":853.809675693512,"wires":[["1656f62d.52cf5a"]]},{"id":"6a7ab8b8.4a1ae8","type":"watson-conversation-v1","z":"7b354ff7.50a86","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":1244.8887939453125,"y":798.8888549804688,"wires":[["88e01d46.f3155"]]},{"id":"1656f62d.52cf5a","type":"function","z":"7b354ff7.50a86","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1835.9602508544922,"y":850.6745781898499,"wires":[["be1d37a8.9870f8","1423bf9d.a6743"]]},{"id":"be1d37a8.9870f8","type":"debug","z":"7b354ff7.50a86","name":"","active":true,"console":"false","complete":"translation","x":2022.174560546875,"y":797.2459716796875,"wires":[]},{"id":"88e01d46.f3155","type":"function","z":"7b354ff7.50a86","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":1462.478115081787,"y":853.3531241416931,"wires":[["6f457c7c.3dee14"]]},{"id":"20d53da3.351412","type":"inject","z":"7b354ff7.50a86","name":"Mella","topic":"","payload":"Mella","payloadType":"str","repeat":"","crontab":"","once":true,"x":84,"y":762,"wires":[["69915021.fe513"]]},{"id":"3461e15b.0637be","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"fr","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"fr","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1003.9999809265137,"y":904.0000324249268,"wires":[["f667c737.fd8b98"]]},{"id":"69ac4bd9.e474e4","type":"function","z":"7b354ff7.50a86","name":"France","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language == \"fr\"){\n    //msg.payload.identifyresponse = msg.lang.language;\n    //msg = msg.payload;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":815.7459106445312,"y":904.3175048828125,"wires":[["3461e15b.0637be"]]},{"id":"1b1db91.570c147","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"fr","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1634.0002250671387,"y":957.8097267150879,"wires":[["9ddb68c8.93ee18"]]},{"id":"f667c737.fd8b98","type":"watson-conversation-v1","z":"7b354ff7.50a86","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":1232.8887748718262,"y":902.8889060020447,"wires":[["52cb9ab.1e57764"]]},{"id":"9ddb68c8.93ee18","type":"function","z":"7b354ff7.50a86","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1823.9602317810059,"y":954.6746292114258,"wires":[["809cadd0.798cc","1423bf9d.a6743"]]},{"id":"809cadd0.798cc","type":"debug","z":"7b354ff7.50a86","name":"","active":true,"console":"false","complete":"translation","x":2028.174560546875,"y":885.2459716796875,"wires":[]},{"id":"52cb9ab.1e57764","type":"function","z":"7b354ff7.50a86","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":1450.4780960083008,"y":957.353175163269,"wires":[["1b1db91.570c147"]]},{"id":"aa120f8c.173a6","type":"inject","z":"7b354ff7.50a86","name":"Bonjour","topic":"","payload":"Bonjour","payloadType":"str","repeat":"","crontab":"","once":true,"x":96,"y":852,"wires":[["69915021.fe513"]]},{"id":"e73c7985.2a0ec8","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"de","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"de","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1054,"y":1004,"wires":[["24f172cd.757aee"]]},{"id":"59527c3b.db25d4","type":"function","z":"7b354ff7.50a86","name":"German","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language == \"de\"){\n    //msg.payload.identifyresponse = msg.lang.language;\n    //msg = msg.payload;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":809.7459106445312,"y":1004.3175048828125,"wires":[["e73c7985.2a0ec8"]]},{"id":"9a60c00f.bb1d5","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"de","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"de","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1684.000244140625,"y":1057.8096942901611,"wires":[["6953ecce.548db4"]]},{"id":"24f172cd.757aee","type":"watson-conversation-v1","z":"7b354ff7.50a86","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":1282.8887939453125,"y":1002.8888735771179,"wires":[["2bb5e8b.ce38918"]]},{"id":"6953ecce.548db4","type":"function","z":"7b354ff7.50a86","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1873.9602508544922,"y":1054.674596786499,"wires":[["a59c00c9.cef27","1423bf9d.a6743"]]},{"id":"a59c00c9.cef27","type":"debug","z":"7b354ff7.50a86","name":"","active":true,"console":"false","complete":"translation","x":2042.174560546875,"y":1001.2459716796875,"wires":[]},{"id":"2bb5e8b.ce38918","type":"function","z":"7b354ff7.50a86","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":1500.478115081787,"y":1057.3531427383423,"wires":[["9a60c00f.bb1d5"]]},{"id":"7dd4c5ba.40b5dc","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"pt","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"pt","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1035.9999732971191,"y":1118.0000095367432,"wires":[["7115bb5c.e58834"]]},{"id":"5e9d682c.62f778","type":"function","z":"7b354ff7.50a86","name":"Portuguese","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language == \"pt\"){\n    //msg.payload.identifyresponse = msg.lang.language;\n    //msg = msg.payload;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":801.7459106445312,"y":1126.3175048828125,"wires":[["7dd4c5ba.40b5dc"]]},{"id":"8585a332.34f8f","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"pt","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"pt","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1666.0002174377441,"y":1171.8097038269043,"wires":[["69cc830c.57b1ac"]]},{"id":"7115bb5c.e58834","type":"watson-conversation-v1","z":"7b354ff7.50a86","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":1264.8887672424316,"y":1116.888883113861,"wires":[["9149b526.d2db68"]]},{"id":"69cc830c.57b1ac","type":"function","z":"7b354ff7.50a86","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1855.9602241516113,"y":1168.6746063232422,"wires":[["27739b6b.b65b44","1423bf9d.a6743"]]},{"id":"27739b6b.b65b44","type":"debug","z":"7b354ff7.50a86","name":"","active":true,"console":"false","complete":"translation","x":2048.174560546875,"y":1191.2459716796875,"wires":[]},{"id":"9149b526.d2db68","type":"function","z":"7b354ff7.50a86","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":1482.4780883789062,"y":1171.3531522750854,"wires":[["8585a332.34f8f"]]},{"id":"45e521bf.eb33b","type":"inject","z":"7b354ff7.50a86","name":"Trabalho","topic":"","payload":"Trabalho","payloadType":"str","repeat":"","crontab":"","once":true,"x":98,"y":952,"wires":[["69915021.fe513"]]},{"id":"4e5eaca9.f6bc74","type":"inject","z":"7b354ff7.50a86","name":"du hast","topic":"","payload":"du hast","payloadType":"str","repeat":"","crontab":"","once":true,"x":110,"y":1030,"wires":[["69915021.fe513"]]},{"id":"ebc34b37.342428","type":"function","z":"7b354ff7.50a86","name":"English","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language == \"en\"){\n    //msg.payload.identifyresponse = msg.lang.language;\n    //msg = msg.payload;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":791.7459106445312,"y":604.3174438476562,"wires":[["e6501a9f.9be228"]]},{"id":"e6501a9f.9be228","type":"watson-conversation-v1","z":"7b354ff7.50a86","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":1014.8887939453125,"y":602.8888549804688,"wires":[["7c583be8.b82a04"]]},{"id":"701d20eb.56811","type":"debug","z":"7b354ff7.50a86","name":"","active":true,"console":"false","complete":"payload","x":2198.174560546875,"y":491.2459716796875,"wires":[]},{"id":"7c583be8.b82a04","type":"function","z":"7b354ff7.50a86","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":2094.4781494140625,"y":623.3531494140625,"wires":[["701d20eb.56811","1423bf9d.a6743"]]},{"id":"1f9b3a30.576446","type":"link in","z":"7b354ff7.50a86","name":"Polyglot","links":["4263dc95.c4a094"],"x":122.99999999999997,"y":587.9999999999999,"wires":[["69915021.fe513"]]},{"id":"1423bf9d.a6743","type":"link out","z":"7b354ff7.50a86","name":"","links":["2a90db0f.fdf574"],"x":2358.9999999999995,"y":889.9999999999998,"wires":[]},{"id":"311d6434.37e8ac","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"ko","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"ko","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1022,"y":1232,"wires":[["8f5edba9.743998"]]},{"id":"9589d50d.b2de38","type":"function","z":"7b354ff7.50a86","name":"Korean","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language == \"ko\"){\n    //msg.payload.identifyresponse = msg.lang.language;\n    //msg = msg.payload;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":777.7459373474121,"y":1240.3174953460693,"wires":[["311d6434.37e8ac"]]},{"id":"46cae465.a8d15c","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"ko","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"ko","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1652.000244140625,"y":1285.8096942901611,"wires":[["5fa9c9db.247208"]]},{"id":"8f5edba9.743998","type":"watson-conversation-v1","z":"7b354ff7.50a86","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":1250.8887939453125,"y":1230.888873577118,"wires":[["fff9ca3a.aaada8"]]},{"id":"5fa9c9db.247208","type":"function","z":"7b354ff7.50a86","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1841.9602508544922,"y":1282.674596786499,"wires":[["8756c004.19aef","1423bf9d.a6743"]]},{"id":"8756c004.19aef","type":"debug","z":"7b354ff7.50a86","name":"","active":true,"console":"false","complete":"translation","x":2034.1745872497559,"y":1305.2459621429443,"wires":[]},{"id":"fff9ca3a.aaada8","type":"function","z":"7b354ff7.50a86","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":1468.478115081787,"y":1285.3531427383423,"wires":[["46cae465.a8d15c"]]},{"id":"b1f17d92.5f4d1","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"arz","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"arz","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1014,"y":1344,"wires":[["62591ad1.dce094"]]},{"id":"ed403647.e259f8","type":"function","z":"7b354ff7.50a86","name":"Arabic","func":"//msg.payload = {};\n//msg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language == \"ar\"){\n    //msg.payload.identifyresponse = msg.lang.language;\n    //msg = msg.payload;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":759.7459373474121,"y":1352.3174953460693,"wires":[["b1f17d92.5f4d1"]]},{"id":"d2648231.4644d","type":"watson-translator","z":"7b354ff7.50a86","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"arz","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"arz","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1644.000244140625,"y":1397.8096942901611,"wires":[["2b47f854.73ff68"]]},{"id":"62591ad1.dce094","type":"watson-conversation-v1","z":"7b354ff7.50a86","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":1242.8887939453125,"y":1342.888873577118,"wires":[["2a7e32c2.e5fafe"]]},{"id":"2b47f854.73ff68","type":"function","z":"7b354ff7.50a86","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1833.9602508544922,"y":1394.674596786499,"wires":[["30188315.7e92fc","1423bf9d.a6743"]]},{"id":"30188315.7e92fc","type":"debug","z":"7b354ff7.50a86","name":"","active":true,"console":"false","complete":"translation","x":2026.174560546875,"y":1433.2459716796875,"wires":[]},{"id":"2a7e32c2.e5fafe","type":"function","z":"7b354ff7.50a86","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":1460.478115081787,"y":1397.3531427383423,"wires":[["d2648231.4644d"]]}]