FlowsBackup/HelloWorld.json
[{"id":"e3c8c44c.e14318","type":"inject","z":"ddace311.df7b6","name":"Hello  W orld inject","topic":"","payload":"Hello, this is my first Node - RED application .","payloadType":"str","repeat":"","crontab":"","once":false,"x":136.5,"y":100,"wires":[["b895bba7.69abe8"]]},{"id":"1265c16f.7add2f","type":"debug","z":"ddace311.df7b6","name":"","active":true,"console":"false","complete":"translation","x":647.5,"y":241,"wires":[]},{"id":"4fd5c1fb.a0b71","type":"watson-translator","z":"ddace311.df7b6","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"es","password":"MurD0ch17!Sem3st3r1","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":296.5,"y":230,"wires":[["3c537501.9b99aa"]]},{"id":"ac6d057a.7e61f8","type":"inject","z":"ddace311.df7b6","name":"Goodbye Inject","topic":"","payload":"It's time for me to go now, goodbye","payloadType":"str","repeat":"","crontab":"","once":false,"x":183.25000381469727,"y":435.7500057220459,"wires":[["7168152c.e517bc"]]},{"id":"bf293b67.4984e8","type":"link in","z":"ddace311.df7b6","name":"Translate Input","links":["5f4dcfe.ff8413","7168152c.e517bc","b895bba7.69abe8"],"x":123.5,"y":230,"wires":[["4fd5c1fb.a0b71"]]},{"id":"b895bba7.69abe8","type":"link out","z":"ddace311.df7b6","name":"Hello Inject","links":["bf293b67.4984e8"],"x":301.5,"y":83,"wires":[]},{"id":"7168152c.e517bc","type":"link out","z":"ddace311.df7b6","name":"GoodBye Inject","links":["bf293b67.4984e8"],"x":324.5,"y":446,"wires":[]},{"id":"3c537501.9b99aa","type":"function","z":"ddace311.df7b6","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":483.5,"y":232,"wires":[["1265c16f.7add2f"]]}]