FlowsBackup/interpreter
[{"id":"6cd3ac09.af9c44","type":"microphone","z":"f16dad1f.1c803","name":"","x":191.5,"y":166,"wires":[["7a70e.17eea8f3"]]},{"id":"5eba70f8.0a91b","type":"delay","z":"f16dad1f.1c803","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":245.5,"y":414,"wires":[[]]},{"id":"d4de49bd.6a1368","type":"play audio","z":"f16dad1f.1c803","name":"","x":814.5,"y":288,"wires":[]},{"id":"7a70e.17eea8f3","type":"watson-speech-to-text","z":"f16dad1f.1c803","name":"","continuous":true,"speakerlabels":true,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"","x":313.5,"y":60,"wires":[["e33f0e6b.67bb7"]]},{"id":"b0b03cf1.96679","type":"watson-text-to-speech","z":"f16dad1f.1c803","name":"","lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"es-ES_LauraVoice","voicehidden":"","format":"audio/wav","password":"","x":477.5,"y":242,"wires":[["d4a01cba.3e0fc"]]},{"id":"7036327f.7de86c","type":"watson-translator","z":"f16dad1f.1c803","name":"","action":"translate","basemodel":"ar-en","domain":"conversational","srclang":"en","destlang":"es","password":"","custom":"","domainhidden":"conversational","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":257.5,"y":281,"wires":[["b0b03cf1.96679"]]},{"id":"e33f0e6b.67bb7","type":"function","z":"f16dad1f.1c803","name":"","func":"msg.payload = msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"x":494.5,"y":72,"wires":[["7036327f.7de86c"]]},{"id":"d4a01cba.3e0fc","type":"function","z":"f16dad1f.1c803","name":"","func":"msg.payload = msg.speech\nreturn msg;","outputs":1,"noerr":0,"x":632.5,"y":147,"wires":[["d4de49bd.6a1368"]]},{"id":"fb122b6.435b6d8","type":"microphone","z":"f16dad1f.1c803","name":"","x":113,"y":604,"wires":[["6bbaed71.bda674"]]},{"id":"4feabafa.258114","type":"play audio","z":"f16dad1f.1c803","name":"","x":1281,"y":746,"wires":[]},{"id":"6bbaed71.bda674","type":"watson-speech-to-text","z":"f16dad1f.1c803","name":"","continuous":true,"speakerlabels":true,"lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"","x":320,"y":624,"wires":[["498ed90f.e63358"]]},{"id":"f0f3e428.7ba2a8","type":"watson-text-to-speech","z":"f16dad1f.1c803","name":"","lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"es-ES_LauraVoice","voicehidden":"","format":"audio/wav","password":"","x":1006,"y":670,"wires":[["b9d8701.55c989"]]},{"id":"c0539d93.a4f19","type":"watson-translator","z":"f16dad1f.1c803","name":"","action":"translate","basemodel":"ar-en","domain":"conversational","srclang":"es","destlang":"en","password":"","custom":"","domainhidden":"conversational","srclanghidden":"es","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":676,"y":637,"wires":[["8d60fa53.949ab8"]]},{"id":"498ed90f.e63358","type":"function","z":"f16dad1f.1c803","name":"","func":"msg.payload = msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"x":499,"y":610,"wires":[["c0539d93.a4f19"]]},{"id":"b9d8701.55c989","type":"function","z":"f16dad1f.1c803","name":"","func":"msg.payload = msg.speech\nreturn msg;","outputs":1,"noerr":0,"x":1185,"y":511,"wires":[["4feabafa.258114"]]},{"id":"3e3f08ff.5aae88","type":"debug","z":"f16dad1f.1c803","name":"","active":true,"console":"false","complete":"translation","x":1078.2857856750488,"y":860,"wires":[]},{"id":"76c9f54.e7f440c","type":"function","z":"f16dad1f.1c803","name":"","func":"node.warn('translated text is: ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":868.0714302062988,"y":889.4286499023438,"wires":[["3e3f08ff.5aae88","f0f3e428.7ba2a8"]]},{"id":"134a1d49.1621f3","type":"watson-translator","z":"f16dad1f.1c803","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"es","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":680.1114501953125,"y":908.5637550354004,"wires":[["76c9f54.e7f440c"]]},{"id":"43ad9b4e.f444f4","type":"function","z":"f16dad1f.1c803","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":736.5893249511719,"y":792.107177734375,"wires":[["134a1d49.1621f3"]]},{"id":"8d60fa53.949ab8","type":"watson-conversation-v1","z":"f16dad1f.1c803","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":719,"y":709.6429443359375,"wires":[["43ad9b4e.f444f4"]]}]