FlowsBackup/messengerwebhook.json
[{"id":"da635a9a.f1bff8","type":"twitter out","z":"3e9aa070.49a09","twitter":"","name":"Tweet","x":1069.7731323242188,"y":1169.4930419921875,"wires":[]},{"id":"42827b36.011844","type":"inject","z":"3e9aa070.49a09","name":"demos","topic":"","payload":"Do you have any demos?","payloadType":"str","repeat":"","crontab":"","once":false,"x":158.85646057128906,"y":1481.5764660835266,"wires":[["5f4dcfe.ff8413"]]},{"id":"2b485b76.f80054","type":"watson-conversation-v1","z":"3e9aa070.49a09","name":"","workspaceid":"89185658-6797-481e-945d-b757377f5ecf","multiuser":false,"context":true,"x":631.7731132507324,"y":1248.5764350891113,"wires":[["9c95dd9c.5e08a","f83d075a.6cd328"]]},{"id":"a7dc587e.bf36a8","type":"watson-speech-to-text","z":"3e9aa070.49a09","name":"","continuous":true,"speakerlabels":false,"lang":"en-US","langhidden":"en-US","langcustomhidden":"","band":"BroadbandModel","bandhidden":"","password":"","x":138.0231170654297,"y":1318.826416015625,"wires":[["d82a31f.e88b9d"]]},{"id":"2694b15a.1eb7be","type":"watson-text-to-speech","z":"3e9aa070.49a09","name":"","lang":"en-GB","langhidden":"en-GB","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"","x":1137.8445091247559,"y":1271.1240882873535,"wires":[["e6a0fbfd.c9d9b8"]]},{"id":"d82a31f.e88b9d","type":"function","z":"3e9aa070.49a09","name":"set payload","func":"msg.payload = msg.transcription;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":286.02312088012695,"y":1250.826413154602,"wires":[["773e77bb.af67c8"]]},{"id":"e6a0fbfd.c9d9b8","type":"function","z":"3e9aa070.49a09","name":"set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1332.4398384094238,"y":1195.4098091125488,"wires":[["7d24c745.1a57d8"]]},{"id":"7d24c745.1a57d8","type":"play audio","z":"3e9aa070.49a09","name":"","x":1401.7731685638428,"y":1277.9097843170166,"wires":[]},{"id":"8704c26f.15113","type":"inject","z":"3e9aa070.49a09","name":"","topic":"","payload":"Set user details","payloadType":"str","repeat":"","crontab":"","once":false,"x":113.02311706542969,"y":1062.5764408111572,"wires":[["ae8ad2f.1b1043"]]},{"id":"e300326a.70e3a","type":"watson-conversation-v1","z":"3e9aa070.49a09","name":"","workspaceid":"4169c453-9374-4925-ab31-cd12b1dcf003","multiuser":true,"context":true,"x":588.1064395904541,"y":1985.576509475708,"wires":[["59c00a7c.b1e5c4"]]},{"id":"ba3ae98.ff80518","type":"inject","z":"3e9aa070.49a09","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":179.1064395904541,"y":1903.576509475708,"wires":[["cb6973c9.dfb6c"]]},{"id":"375ec221.e64b7e","type":"inject","z":"3e9aa070.49a09","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":179.6064395904541,"y":1940.576509475708,"wires":[["cb6973c9.dfb6c"]]},{"id":"cb6973c9.dfb6c","type":"function","z":"3e9aa070.49a09","name":"set user 1","func":"msg.user = '1';\n\nreturn msg;","outputs":1,"noerr":0,"x":350.6064395904541,"y":1939.576509475708,"wires":[["e300326a.70e3a"]]},{"id":"d36ef286.780b1","type":"inject","z":"3e9aa070.49a09","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":178.1064395904541,"y":2024.576509475708,"wires":[["b7d3b669.988358"]]},{"id":"9bccff26.c8512","type":"inject","z":"3e9aa070.49a09","name":"","topic":"","payload":"cics","payloadType":"str","repeat":"","crontab":"","once":false,"x":178.6064395904541,"y":2060.576509475708,"wires":[["b7d3b669.988358"]]},{"id":"b7d3b669.988358","type":"function","z":"3e9aa070.49a09","name":"set user 2","func":"msg.user = '2';\n\nreturn msg;","outputs":1,"noerr":0,"x":349.6064395904541,"y":2059.576509475708,"wires":[["e300326a.70e3a"]]},{"id":"59c00a7c.b1e5c4","type":"debug","z":"3e9aa070.49a09","name":"","active":true,"console":"false","complete":"payload.output.text","x":807.1064395904541,"y":1985.576509475708,"wires":[]},{"id":"5b638bfc.656564","type":"inject","z":"3e9aa070.49a09","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":355.1064395904541,"y":1806.576509475708,"wires":[["e300326a.70e3a"]]},{"id":"1c9ac8ce.065657","type":"inject","z":"3e9aa070.49a09","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":355.1064395904541,"y":1842.576509475708,"wires":[["e300326a.70e3a"]]},{"id":"7463bf24.561e","type":"inject","z":"3e9aa070.49a09","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":226.6064395904541,"y":2154.576509475708,"wires":[["c6ad6f15.c3954"]]},{"id":"c6ad6f15.c3954","type":"function","z":"3e9aa070.49a09","name":"reset context","func":"msg.params = {\n    context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":371.6064395904541,"y":2154.576509475708,"wires":[["e300326a.70e3a"]]},{"id":"b0070536.0b4418","type":"inject","z":"3e9aa070.49a09","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":179.6064395904541,"y":1976.576509475708,"wires":[["cb6973c9.dfb6c"]]},{"id":"e6b29bfd.8909a8","type":"inject","z":"3e9aa070.49a09","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":178.1064395904541,"y":2096.576509475708,"wires":[["b7d3b669.988358"]]},{"id":"dc41be09.af091","type":"inject","z":"3e9aa070.49a09","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":355.1064395904541,"y":1878.576509475708,"wires":[["e300326a.70e3a"]]},{"id":"9c4d1fa2.7cec","type":"microphone","z":"3e9aa070.49a09","name":"","x":111.27312088012695,"y":1202.576410293579,"wires":[["a7dc587e.bf36a8"]]},{"id":"ea1b783c.e00b38","type":"inject","z":"3e9aa070.49a09","name":"","topic":"","payload":"reset context","payloadType":"str","repeat":"","crontab":"","once":false,"x":104.02311706542969,"y":1027.2430973052979,"wires":[["852a4e2f.ba4c9"]]},{"id":"852a4e2f.ba4c9","type":"function","z":"3e9aa070.49a09","name":"reset context","func":"msg.params = {\n    context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":276.0231170654297,"y":1027.2431049346924,"wires":[["eb87c43c.f841e8"]]},{"id":"ae8ad2f.1b1043","type":"function","z":"3e9aa070.49a09","name":"add context","func":"msg.additional_context = {\n    twitter: {\n    handle: \"a_twitter_handle_without_the_at_symbol\",\n    dm: false\n}}\nreturn msg;","outputs":1,"noerr":0,"x":275.8564147949219,"y":1062.243127822876,"wires":[["eb87c43c.f841e8"]]},{"id":"9c95dd9c.5e08a","type":"function","z":"3e9aa070.49a09","name":"set payload and tweet","func":"/*output=msg.payload;\nmsg.payload = {};\nmsg.payload.output = {text: [output]}\nmsg.payload.context={twitter: {handle:\"@HiHuman3\",DM:true}}\nnode.warn(msg.payload.context);\n*/\nnode.warn(\"Conversation output is:\\n\" + JSON.stringify(msg.payload))\n\nif (msg.payload.output && msg.payload.output.text) {\n    output = msg.payload.output.text.join(' ');\n    if (output && output.indexOf(\"|tweet:\") > -1) {\n        node.warn(\"tweeting\");\n        if (\n            msg.payload.context.twitter &&\n            msg.payload.context.twitter.handle \n            ) {\n            \n            // extract text and url to tweet and clean up strings\n            var tweet = output.split('|')\n                .filter(function (c){\n                    return c.indexOf(\"tweet:\") > -1 ;\n                }).join(', ').replace(\"tweet:\", '');\n            var url = output.split('|')\n                .filter(function (c){\n                    return c.indexOf(\"link:\") > -1 ;\n                }).join(', ').replace(\"link:\", '');\n            \n            // dm switch\n            var dmswitch = '';\n            if (msg.payload.context.twitter.dm && msg.payload.context.twitter.dm === true){\n                dmswitch = \"DM \";\n            }\n            // construct tweet\n            tweet = dmswitch + \"@\" + msg.payload.context.twitter.handle + \" \" + tweet + \" \" + url;\n            \n            msg.payload = tweet;\n            node.warn(\"Sending string to twitter node: \\n\" + tweet)\n            node.send([msg,null]);\n            \n        } else {node.error(\"no twitter details\");}\n    } else {\n        node.warn(\"no tweet requested\");\n    }\n    output = output.split('|')\n    .filter(function(c) {\n        return c.indexOf(\"tweet:\") === -1 && c.indexOf(\"link:\") === -1;\n    }).join(' ');\n} else {\n    output = 'No response';\n}\n\nnode.warn(\"Cleaned conversation output: \\n\" + output)\nmsg.payload = output;\nnode.send([null,msg]);","outputs":"2","noerr":0,"x":835.939769744873,"y":1247.243076324463,"wires":[["da635a9a.f1bff8"],["6b5ee865.38b088"]]},{"id":"773e77bb.af67c8","type":"link out","z":"3e9aa070.49a09","name":"gototone","links":["36524a2e.139ce6"],"x":359.576171875,"y":1347.076416015625,"wires":[]},{"id":"878264ec.797468","type":"link in","z":"3e9aa070.49a09","name":"convIn","links":["5f4dcfe.ff8413","eb87c43c.f841e8","4263dc95.c4a094","cb791c85.7ae69"],"x":504.439857006073,"y":1299.6598091125488,"wires":[["2b485b76.f80054","484c82e8.4f515c"]]},{"id":"d834f897.b476e8","type":"inject","z":"3e9aa070.49a09","name":"Hi","topic":"","payload":"switch","payloadType":"str","repeat":"","crontab":"","once":false,"x":158.0231170654297,"y":1443.99312210083,"wires":[["5f4dcfe.ff8413"]]},{"id":"8b253a75.2f7e78","type":"inject","z":"3e9aa070.49a09","name":"Angry feedback","topic":"","payload":"it's really horrendous how badly these nodes are documented - There is absolutely no way any body can follow that! Infuriating!","payloadType":"str","repeat":"","crontab":"","once":false,"x":130.2731170654297,"y":1517.4931230545044,"wires":[["5f4dcfe.ff8413"]]},{"id":"af22cc09.bfa92","type":"inject","z":"3e9aa070.49a09","name":"Happy feedback","topic":"","payload":"These new nodes are awesome! I love the way they are used in the new flows!","payloadType":"str","repeat":"","crontab":"","once":false,"x":129.7731170654297,"y":1553.2431240081787,"wires":[["5f4dcfe.ff8413"]]},{"id":"36524a2e.139ce6","type":"link in","z":"3e9aa070.49a09","name":"","links":["773e77bb.af67c8","5f4dcfe.ff8413"],"x":528.7500066757202,"y":1629.502402305603,"wires":[["c0fcaeb4.31eeb","766e1414.b550ac"]]},{"id":"c0fcaeb4.31eeb","type":"debug","z":"3e9aa070.49a09","name":"","active":true,"console":"false","complete":"false","x":656.2500076293945,"y":1586.1690883636475,"wires":[]},{"id":"cb791c85.7ae69","type":"link out","z":"3e9aa070.49a09","name":"","links":["878264ec.797468"],"x":1032.0000190734863,"y":1626.3357753753662,"wires":[]},{"id":"766e1414.b550ac","type":"watson-tone-analyzer-v3","z":"3e9aa070.49a09","name":"","tones":"emotion","sentences":"false","contentType":"false","x":663.5000076293945,"y":1626.0857458114624,"wires":[["f2332072.aed03"]]},{"id":"f2332072.aed03","type":"function","z":"3e9aa070.49a09","name":"add emotion to context","func":"var emotions = [];\nvar threshold = 0.5;\nvar topemotion ='';\n\n// simplify object returned by tone analyser to only the emotion tones\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n\nnode.warn(\"Detected tones: \\n\" + JSON.stringify(emotions));\n\n// find highest score and return that tone name, if that score is greater than the threshold\ntopemotion = emotions.reduce(function(a, b){ return a.score > b.score ? a : b; });\n\nif (topemotion.score > threshold) {\n    topemotion = topemotion.tone_name;\n} else {\n    topemotion = \"neutral\";\n}\n\n\n// add top emotion to conversation context\nmsg.additional_context = { emotion: topemotion };\n\nnode.warn(\"Emotion added to conversation context:\\n   \" +  topemotion);    \n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":878.083324432373,"y":1627.002402305603,"wires":[["cb791c85.7ae69"]]},{"id":"5f4dcfe.ff8413","type":"link out","z":"3e9aa070.49a09","name":"frommaninputs","links":["878264ec.797468","36524a2e.139ce6","bf293b67.4984e8"],"x":324.7400140762329,"y":1494.8843040466309,"wires":[]},{"id":"eb87c43c.f841e8","type":"link out","z":"3e9aa070.49a09","name":"adminout","links":["878264ec.797468"],"x":395.4670042991638,"y":1044.8385372161865,"wires":[]},{"id":"6b2dc6f5.956128","type":"comment","z":"3e9aa070.49a09","name":"config","info":"","x":57.175750732421875,"y":987,"wires":[]},{"id":"f02949a.3e3f4b8","type":"comment","z":"3e9aa070.49a09","name":"speech in","info":"","x":67.50000381469727,"y":1167.1111936569214,"wires":[]},{"id":"7d29c9bb.ebae68","type":"comment","z":"3e9aa070.49a09","name":"test txt in","info":"","x":65,"y":1404.6112575531006,"wires":[]},{"id":"9600df.8a913f2","type":"comment","z":"3e9aa070.49a09","name":"tone analyser","info":"","x":568.7500152587891,"y":1402.1112337112427,"wires":[]},{"id":"212614c1.44833c","type":"comment","z":"3e9aa070.49a09","name":"conversations call and output","info":"","x":613.7500419616699,"y":1173.361192703247,"wires":[]},{"id":"f83d075a.6cd328","type":"debug","z":"3e9aa070.49a09","name":"","active":true,"console":"false","complete":"payload","x":815.5,"y":1314,"wires":[]},{"id":"484c82e8.4f515c","type":"debug","z":"3e9aa070.49a09","name":"","active":true,"console":"false","complete":"payload","x":609.5,"y":1350,"wires":[]},{"id":"6b5ee865.38b088","type":"function","z":"3e9aa070.49a09","name":"","func":"if(msg.fromMessenger){\n    return [msg,msg];\n} else {\n    return [msg, null];\n}","outputs":1,"noerr":0,"x":994.5,"y":1381,"wires":[["2694b15a.1eb7be","aad6443.dd741b8"]]},{"id":"aad6443.dd741b8","type":"link out","z":"3e9aa070.49a09","name":"conversation out for Messenger 7bdRightOne","links":[],"x":1150.5,"y":1404,"wires":[]}]