FlowsBackup/watsontv.json
[{"id":"6a7fb70c.c1f578","type":"http in","z":"82c61a44.0e9f98","name":"","url":"/tele","method":"get","swaggerDoc":"","x":193.5,"y":176,"wires":[["8e30670c.b61fe8"]]},{"id":"8e30670c.b61fe8","type":"http request","z":"82c61a44.0e9f98","name":"","method":"GET","ret":"txt","url":"https://raw.githubusercontent.com/ibm-early-programs/watson-tv/master/tv.html","tls":"","x":439.5,"y":166,"wires":[["6b954dad.330a74"]]},{"id":"e955ff99.d6d8d","type":"http response","z":"82c61a44.0e9f98","name":"","x":644.5,"y":351,"wires":[]},{"id":"6b954dad.330a74","type":"function","z":"82c61a44.0e9f98","name":"","func":"msg.headers = {'Content-Type':'text/html'}\nreturn msg;","outputs":1,"noerr":0,"x":528.5,"y":246,"wires":[["e955ff99.d6d8d"]]},{"id":"4c705039.a4aa1","type":"http in","z":"82c61a44.0e9f98","name":"","url":"/tv","method":"get","swaggerDoc":"","x":191,"y":426,"wires":[["cb890ac6.9d9208"]]},{"id":"768bbf57.7beef","type":"http response","z":"82c61a44.0e9f98","name":"","x":685,"y":426,"wires":[]},{"id":"cb890ac6.9d9208","type":"http request","z":"82c61a44.0e9f98","name":"","method":"GET","ret":"txt","url":"https://raw.githubusercontent.com/ibm-early-programs/watson-tv/master/tv.html","tls":"","x":334.5,"y":426,"wires":[["763c6afa.80b874"]]},{"id":"90ea7a81.90bda8","type":"watson-speech-to-text","z":"82c61a44.0e9f98","name":"","continuous":true,"lang":"en-US","langhidden":"en-US","band":"BroadbandModel","bandhidden":"","password":"","x":841,"y":709,"wires":[["d7a0a61e.280c88"]]},{"id":"d7a0a61e.280c88","type":"change","z":"82c61a44.0e9f98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1022,"y":709,"wires":[["71f476bd.c95b78"]]},{"id":"6c01b2c4.deb5dc","type":"link in","z":"82c61a44.0e9f98","name":"","links":["71f476bd.c95b78"],"x":408,"y":758,"wires":[["cd2870b4.116ec"]]},{"id":"71f476bd.c95b78","type":"link out","z":"82c61a44.0e9f98","name":"","links":["6c01b2c4.deb5dc"],"x":1145,"y":709,"wires":[]},{"id":"245f8411.8dcfec","type":"debug","z":"82c61a44.0e9f98","name":"","active":false,"console":"false","complete":"false","x":951,"y":758,"wires":[]},{"id":"16d1e6c9.7dcd29","type":"function","z":"82c61a44.0e9f98","name":"append to global","func":"var translation = [];\n\nif (global.get(\"translation\")) {\n    translation = global.get(\"translation\");\n}\n\ntranslation.push({\n    text: msg.payload,\n    start: msg.timesplit[0],\n    end: msg.timesplit[1]\n});\n\nglobal.set(\"translation\", translation); \nreturn msg;","outputs":1,"noerr":0,"x":766,"y":758,"wires":[["245f8411.8dcfec"]]},{"id":"8d13fcd0.8c926","type":"http in","z":"82c61a44.0e9f98","name":"","url":"/translation","method":"get","swaggerDoc":"","x":220,"y":504,"wires":[["2ecdba0f.c72cb6"]]},{"id":"c09def8f.53528","type":"http response","z":"82c61a44.0e9f98","name":"","x":694,"y":551,"wires":[]},{"id":"2ecdba0f.c72cb6","type":"change","z":"82c61a44.0e9f98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"translation","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":406,"y":504,"wires":[["c09def8f.53528","ee2f3382.59a49"]]},{"id":"59f2c16e.1ad5","type":"http response","z":"82c61a44.0e9f98","name":"","x":561,"y":576,"wires":[]},{"id":"c3be8176.2d23","type":"http in","z":"82c61a44.0e9f98","name":"","url":"/translate","method":"post","swaggerDoc":"","x":220,"y":584,"wires":[["bcfe2a6b.6ce4d8"]]},{"id":"bcfe2a6b.6ce4d8","type":"change","z":"82c61a44.0e9f98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":399,"y":584,"wires":[["59f2c16e.1ad5","6ea3d71e.f2c6c8","30ec6ecf.b84342"]]},{"id":"763c6afa.80b874","type":"change","z":"82c61a44.0e9f98","name":"","rules":[{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":518.5,"y":426,"wires":[["768bbf57.7beef"]]},{"id":"30ec6ecf.b84342","type":"ffmpeg-conversion","z":"82c61a44.0e9f98","name":"","format":"wav","x":335,"y":671,"wires":[["d4f1ab8c.2f51a8"]]},{"id":"d4f1ab8c.2f51a8","type":"ffmpeg-silence-detect","z":"82c61a44.0e9f98","name":"","noise":0.008,"duration":0.8,"x":592,"y":667,"wires":[["779ef4f6.23790c"]]},{"id":"d8fe20d1.db087","type":"ffmpeg-segment","z":"82c61a44.0e9f98","name":"","timeout":true,"x":661.5,"y":709,"wires":[["90ea7a81.90bda8"]]},{"id":"779ef4f6.23790c","type":"function","z":"82c61a44.0e9f98","name":"average","func":"msg.times = [];\n\nfor (var i = 0; i < msg.silences.length; ++i) {\n    var s = msg.silences[i];\n    msg.times.push((s[1] - s[0]) / 2 + s[0]);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":499.5,"y":709,"wires":[["d8fe20d1.db087"]]},{"id":"73f1de30.1ca5c","type":"comment","z":"82c61a44.0e9f98","name":"Get UI from Github","info":"","x":230.5,"y":388,"wires":[]},{"id":"5b9e0945.7936b8","type":"comment","z":"82c61a44.0e9f98","name":"Get global context for latest translations","info":"","x":289.5,"y":466,"wires":[]},{"id":"ed93636.ba7cda","type":"comment","z":"82c61a44.0e9f98","name":"UI posts URL to perform ffmpeg functions","info":"","x":300,"y":546,"wires":[]},{"id":"ee2f3382.59a49","type":"debug","z":"82c61a44.0e9f98","name":"Translation Set","active":true,"console":"false","complete":"payload","x":769.5,"y":485,"wires":[]},{"id":"6ea3d71e.f2c6c8","type":"debug","z":"82c61a44.0e9f98","name":"Translation Requested","active":true,"console":"false","complete":"payload","x":618.5,"y":626,"wires":[]},{"id":"cd2870b4.116ec","type":"watson-translator","z":"82c61a44.0e9f98","name":"","action":"translate","basemodel":"ar-en","domain":"conversational","srclang":"pt","destlang":"en","password":"","custom":"","domainhidden":"conversational","srclanghidden":"pt","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":556.5,"y":771,"wires":[["16d1e6c9.7dcd29"]]}]